[2011-06-03 21:46] markmfredrickson opened #1 "Test hard-limits branch on Windows"
It works on OS X 10.6.5 32-bit. We should also test it on a 32bit Windows machine.

[2011-06-08 16:20] markmfredrickson opened #2 "Internal documentation"
Many of the S4 class related methods will require at least a minimal amount of documentation for others wishing to adapt distance specifications. Developers need to know how to write new DistanceSpecifications, the implied methods of these data types, etc.

[2011-06-08 16:33] markmfredrickson opened #3 "prepareMatching.matrix fails on nameless matrices"
That is, if row and column names are missing, the method fails. Should this be a bug or should we throw an error? It is going to be hard to stitch this back into a factor later.

Possible solution: if the names are missing we could create C1, C2, ... and T1, T2, .... and use these as names. It would be up to the user to understand what they represent in the original distance matrix.

[2011-07-08 15:38] markmfredrickson opened #4 "mdist.formula: matrix argument"
By the default the mdist function computes the inverse covariance matrix and uses this to compute the squared Mahalanobis distance. Other matrices can be used as well. For example, the identity matrix allows computing the squared Euclidean distance.

This suggests a change to the name of the argument of the matrix. For now, I am calling it `s.matrix` for lack of a better name.

Suggestions?

[2011-07-14 00:49] markmfredrickson opened #5 "Failing subgroups => total failure?"
In the `master` branch, there is a test in `tests/pairmatch.R`:

[code]

And indeed for the second class 1, no entries are matched, though entries in subclass 0 are matched. With the transition to sparse representations, there are no longer segregated subclasses. Thus, in the `s4` branch, the equivalent test cases a failure to match any cases:

[code]

I'm not sure one behavior is better than the

[2011-07-15 16:05] #4 closed, assigned to nobody

[2011-08-21 21:50] markmfredrickson opened #6 "pairmatch fails for some exactMatch problems"
I noticed this while writing up documentation. Not all `exactMatch` problems fail, but something about this data is problematic.

[code]

[2011-11-04 22:33] #5 closed, assigned to nobody

[2011-11-04 22:34] #6 closed, assigned to markmfredrickson

[2011-11-19 21:39] markmfredrickson opened #7 "caliper.numeric idea"
Right now there is no `numeric` implementation for a caliper. One possible implementation would be to use `caliper(n)` as a special case for this common pattern:

[code]

Which would be replaced as:

[code]

`caliper(n)` would return a special object that would be a placeholder for a real `InfinitySparseMatrix`and would wait until addition to find out its true dimensions as well as its form.

This

[2011-12-31 01:39] #3 closed, assigned to nobody

[2012-02-27 17:01] benthestatistician opened #8 "support for existing optmatch code involving mdist's function method"
I'd much like for the s4 branch update to optmatch to minimize breaking people's existing code.  The new S4  method for signature "function", however, seems to be pretty different.  I like the differences but don't like my old scripts bombing.

Since the s3 method mdist.function() requires a "structure.fmla" argument which the new method has no use for, would it be possible to elaborate the new on

[2012-03-01 23:06] benthestatistician opened #9 "Bug: in master branch, Ops.optmatch.dlist dies unnecessarily for unstratified problems"
Applied to matching problems without subclassification prior to matching, mdist.glm and mdist.function create optmatch.dlist objects with different names, "m" for the mdist.glm object and "m1" for the mdist.function object.  This in turn causes Ops.optmatch.dlist to bomb when I try to combine distances created in the two ways, e.g. using one as the basis for a caliper to be added on to the other.

[2012-03-21 03:26] jwbowers opened #10 "Enhance optmatch.dlist awareness of caliper()"
I'm working on a problem where the mh distances vary a lot by stratum. I'd like to have a caliper that is 1sd on the age of respondent, with that sd stratum specific.  I have hacked something together for now, but this is a simple task so I won't clutter here with my junky code. FYI, calling caliper() itself on pieces of an optmatch.dlist throws errors because those pieces are numeric.

[2012-03-21 19:57] jwbowers opened #11 "Multicore/Parallel Awareness"
Since we are encouraging folks to use lists of matrices, it would be relatively easy to make bits of code use mclapply/parLapply if the parallel package has been loaded. We've done this in the randomization-distribution branch of RItools.

For example, in makedist.R with:

[code]

to (here is code from RItools)

[code]

Perhaps I am ignoring something about the S4 branch and sparse matrices in thi

[2012-05-25 15:30] benthestatistician opened #12 "summary.optmatch issue with propensity.model's generated using fill.NAs"
Instance of issue:
  library(optmatch)
  library(RItools)
  example(fill.NAs)
  pm.np.glm <-  pairmatch(mdist(np.glm))
  summary(pm.np.glm, np.glm)

Expected: summary of pair match with balance statistics
Actual: "Error in eval(expr, envir, enclos) : object 'pr' not found"

Notes:
1.  The problem occurs in expand.model.frame, which gets called by summary.optmatch in the process of setting things u

[2012-05-26 02:52] benthestatistician opened #13 "mdist arithmetic gracefully handle 1x1 matrices"
I often find myself combining mdist objects and simple scalars in calls to arithmetic operators: e.g.,

If the scalar was the result of some complicated matrix arithmetic then I sometimes get tripped up.  For a simplified example,

Error in mdist.examples$mh2 > crossprod(1:2) : non-conformable arrays

The problem here is that what I'm thinking of as a scalar actually has a dim attribute:

     [,1

[2012-06-07 02:17] benthestatistician opened #14 "fullmatch applied to a InfinitySparseMatrix appears not to return observations in original order"
Stubbed my toe just now on an optmatch object in which the observations came out in an order differing from the order in which I had fed them into mdist -- if I hadn't been looking for this issue, it would have been very easy for me to get nonsense out of statistical analyses combining my optmatch object with variables from the original, generating data frame.

Earlier versions of fullmatch and pa

[2012-06-07 21:02] #11 closed, assigned to nobody

[2012-06-08 00:53] benthestatistician opened #15 "fullmatch applied to a InfinitySparseMatrix w/o finite entries throws an error"
Example:

In this situation I think the proper behavior should be to return an optmatch object that's all NAs.

[2012-07-10 15:17] #8 closed, assigned to nobody

[2012-07-10 22:12] markmfredrickson opened #16 "Upgrade "order" attribute to slot"
Right now, to maintain the data order of the data in the match (i.e. the order in the original data frame used to generate a propensity score matching) an attribute is added to matrices and InfinitySparseMatrices called "order" which holds the names of the original data in order.

It would be asthetically nicer (and would cut down on a little code duplication) to make this into a slot in the ISM c

[2012-07-23 23:03] #9 closed, assigned to markmfredrickson

[2012-07-26 22:23] benthestatistician opened #17 "mdist enhancements to discourage listwise deletion with propensity fitting"
NAs in the variables used to fit propensity scores can be invisible to many users.  All of the propensity-fitting functions I'm aware of encourage this, by envisibly dropping observations with missing data. Ideally optmatch functions would make it the case that missing covariates, at least, are handled with fill.NA rather than by listwise deletion. A proposed solution:

Introduce two helper functi

[2012-07-27 14:50] benthestatistician opened #18 "mdist's (both versions) should refuse to produce distance matrices that are too big for fmatch to handle"
At present fmatch() has a hard limit of about 1e7 finite entries per distance matrix.  That hard limit may change in the future, or may become a constant set at compile time.  Either way, our distance-making functions should be designed to look up the relevant upper limit and refuse to return distances that violating it in one or more subclasses.   Furthermore they ought to give the user hints as

[2012-08-05 14:53] jwbowers opened #19 "Small change to s4 branch fill.NAs pushed for your consideration"
The fact that fill.NAs ignores the first column of x is not clear in the documentation. So, I pushed a new fill.NAs with a new argument, all.covs, that is set to FALSE by default --- so doesn't change the behavior of fill.NAs --- but if set, and no formula is provided, fill NAs on all the columns of x rather than ignoring the first column.

Of course, now that I write this I realize that perhaps t

[2012-08-10 18:34] #19 closed, assigned to nobody

[2012-08-10 21:27] markmfredrickson opened #20 "`update` method for distances calculated with propensity scores"
In commits in the master branch, Ben added the ability use the `update` function with a distance matrix created by mdist's glm method to create a new distance matrix. This feature was lost in a recent merge from master to s4 (an intentional decision to make the merge go through more smoothly). The feature should be restored.

[2012-08-10 21:55] markmfredrickson opened #21 "Iterative exact matching for large problems"
This is a feature request for a new function (code name "whittlerDowner") that will help users create feasible matching problems on large datasets. Since the Fortran routine has a hard limit right now (and we might impose a soft limit on the problem size to prevent users from creating incredibly large problems that will take weeks to complete), this function will help introduce exact matching on e

[2012-08-11 01:54] markmfredrickson opened #22 "Failing subproblems"
This is an issue to get the master and s4 branches on the same page with respect to completely failing subproblems.

[code]

[2012-08-13 22:45] #15 closed, assigned to nobody

[2012-08-15 15:11] jwbowers opened #23 "README.md instructions for installing s4 branch fail"
It seems that install_github does not know to use the Makefile to create a DESCRIPTION file.

[code]

[2012-08-16 19:14] #23 closed, assigned to nobody

[2012-08-21 21:23] #16 closed, assigned to markmfredrickson

[2012-08-22 00:02] markmfredrickson opened #24 "`match_on`: `within` argument can be formula or sparse matrix"
The `master` branch `mdist` function uses formulas for two features that are not currently in the S4 branch, but could be:

1. Formula `x` args (i.e. the Mahalanobis distance method) used the vertical bar `|` to indicate blocking variables.
2. All methods included `structure.fmla = ~ X1 + X2 ...`. This was replaced with the `exclusions` argument.

Both blocking usages could be included by parsing

[2012-08-22 00:11] markmfredrickson opened #25 "`fullmatch` calls `mdist` automatically"
I'm starting an issue to discuss updating the `fullmatch` (and by consequence `pairmatch` function) to automatically call `mdist` on its first argument. For example, if the user passed a `glm` model directly, the `mdist.glm` method would properly spit out a distance matrix based on the propensity score.
### Current `fullmatch` function

[code]
### Proposed Change

[code]
### Additional thoughts an

[2012-08-24 22:28] #12 closed, assigned to markmfredrickson

[2012-09-11 16:37] #14 closed, assigned to benthestatistician

[2012-09-12 17:50] markmfredrickson opened #26 "match_on formula: pass a function to handle distance calculation"
Where default is non-squared Mahal distance.

[2012-09-12 17:52] markmfredrickson opened #27 "Formula handling: can models be replaced with calls to predict(model, data)"
Can the formula `Z ~ X1 + mymodel + X2` be expanded to `Z ~ X1 + I(predict(mymodel, data)) + X2` using the data that would be used for the formula expansion. Possible inspiration: `subset` function.

[2012-09-12 20:13] #18 closed, assigned to markmfredrickson

[2012-09-21 20:28] markmfredrickson opened #28 "minExactMatch: don't split I(x + y) into two factors"
The current code uses `strplit` on "+" to split up the formula. This might cause problems if + is used in unusual ways.

[2012-09-21 20:48] #28 closed, assigned to nobody

[2012-09-25 17:02] #7 closed, assigned to nobody

[2012-09-28 22:14] #20 closed, assigned to nobody

[2012-10-06 15:52] #22 closed, assigned to nobody

[2012-10-09 15:22] #2 closed, assigned to nobody

[2012-10-09 15:23] #21 closed, assigned to nobody

[2012-10-23 20:14] markmfredrickson opened #29 "makedist formula argument inputs and outputs"
Currently in the s4 branch, the `makedist` function, which provides a large portion of the functionality of the various `match_on` methods, has an argument `distancefn` with the following expected signature:

[code]

Where `treated` and `control` are vectors or data.frames of the same length/height where each item/row represents the treated or control value for an allowed comparison (e.g. if a cal

[2012-10-25 19:07] #29 closed, assigned to nobody

[2012-10-30 21:38] #26 closed, assigned to nobody

[2012-10-30 21:39] markmfredrickson opened #30 "Write compute_rankbasedmahalanobis function"
A function to compute rank based mahalanobis distance that is compatible with the `match_on` formula method.

[2012-10-31 19:36] markmfredrickson opened #31 "Documentation bug: fullmatch explanation of data arg"
Fullmatch docs should explain that data arg can also just be a vector of names.

[2012-10-31 19:38] markmfredrickson opened #32 "compute_mahalanobis test cases"
There is some commented out code that uses SVD for bad input model matrices. We should have test cases to illustrate its use (and then turn it back on):
-  Have a matrix is which K dummy variables completely partition the data (e.g. rather than including the K - 1 dummies for a K level categorical variable)
-  A 1-level factor

[2012-10-31 19:39] markmfredrickson opened #33 "Spell check docs"
Pipe documentation through aspell or similar as part of the build and check process.

[2012-10-31 20:25] markmfredrickson opened #34 "Version 0.8"
Various tasks to prep for 0.8 release:
- Update changelog
- Bump version number 0.8

[2012-11-01 20:24] #33 closed, assigned to nobody

[2012-11-02 20:37] #32 closed, assigned to nobody

[2012-11-02 21:03] #31 closed, assigned to nobody

[2012-11-15 03:02] benthestatistician opened #35 "Simplify/assist process of reducing max.controls without causing infeasibility"
In full matching with a large or unrestricted max.controls argument, one often gets one or more treatments matched to many many controls. Sometimes that's OK, but often it would be better to get rid of all but 3 or 5 of the tens or hundreds of controls that may be matched to a low propensity score treatment.  If I'm not mistaken, though, simply reducing max.controls will tend to lead to infeasibil

[2012-11-15 19:13] markmfredrickson opened #36 "`R CMD check` discrepancies"
The CRAN maintainers alerted us that there are differences in the [output for several of the tests](http://cran.r-project.org/web/checks/check_results_optmatch.html).

The relevant portion of the output (using the latest master branch on a 32-bit linux virtual machine):

[code]

These differences were not showing up on my OS X 10.8.2 64-bit machine.

I have verified that the `.Machine$double.eps`

[2012-11-16 22:53] #36 closed, assigned to nobody

[2012-11-29 17:40] #34 closed, assigned to nobody

[2012-12-18 18:21] markmfredrickson opened #37 "`R CMD check` fails on Windows 2.14.2"
The CRAN team brought this to our attention:

http://cran.r-project.org/web/checks/check_results_optmatch.html

[code]

Here is what they list as the environment:

[code]

This is the only automated check that is run on 2.14.2 (all other checks are 2.15 and later),  so this could be a general bug in 2.14.2 or possibly only a problem on Windows.

[2012-12-20 19:58] markmfredrickson opened #38 "Export `as.matrix` methods for ISMs, other S4 classes"
I noticed while looking at another bug that these methods weren't being exported. Users should be able to cast their sparse matrices back to their dense equivalents.

[2013-01-02 19:25] #37 closed, assigned to nobody

[2013-01-02 20:05] #38 closed, assigned to nobody

[2013-01-08 15:33] jwbowers opened #39 "fill.NAs returned objects may not have syntactically valid column names"
I think that R, strictly speaking, does not like column names with spaces. Mostly R is smart, but sometimes a data frame created with fill.NAs can cause trouble because of spaces in factor level names. This is funny because the spaces are allowed as output of model.matrix and most model fitting functions handle them fine during factor expansion. Yet, this from the help page for make.names:

[code]

[2013-02-05 05:21] jwbowers opened #40 "Build Ubuntu Linux 12.04?"
Getting a funny message when I try to build this on Linux [Ubuntu --- on Amazon EC2 t1.micro instance]. Possibly this is just a function of the fact that these instances have less than 1GB RAM. I haven't tried it on a m1.small instance yet.

[code]

[code]

[code]

[code]

[2013-02-05 16:00] #40 closed, assigned to nobody

[2013-03-13 15:58] markmfredrickson opened #41 "pscore.dist: Should throw useful error message"
Users who relied on a the `pscore.dist` in the past are noticing that the function has gone away in the latest releases (replaced by the superior `mdist` and subsequently `match_on` functions).

Should we include a `pscore.dist` function that does nothing but throw a useful error message pointing users to `match_on` or `mdist`?

[2013-03-28 00:44] #41 closed, assigned to nobody

[2013-04-06 02:24] benthestatistician opened #42 "match_on numeric method requires names for the supplied numeric"
The numeric method for match_on, or more specifically the contained call to makedist, seems to require that the given numeric vector carry row names.  However the documentation of this function states "Either \code{x} or \code{z} must have names."  Either the documentation should  be fixed, to read "code{x} must have names", or the method itself should be adjusted.

[2013-04-06 16:43] benthestatistician opened #43 "match_on's standardization.scale argument should accept scalars"
... as opposed to functions that compute a scalar from otherwise provided data. For users who want to rescale the propensity score for themselves.  (One can of course pass a function that simply returns a given scalar, but this will only occur to more advanced users, and even then there may be scoping issues that make it tricky.)

[2013-04-06 19:33] benthestatistician opened #44 "match_on confusion w/ combination of within and caliper arguments"
In some circumstances match_on seems to ignore or be confused by a caliper argument, whereas in others it doesn't.  Here is an example that seems to work properly and an example in which it doesn't, the only difference between the two being the inclusion of a within in the case where it doesn't work.

[code]

[2013-04-09 00:53] #42 closed, assigned to markmfredrickson

[2013-04-17 15:13] GregoryEady opened #45 "Distance matrix too large?"
I have a rather large matching application, with a few hundred thousand controls to match to thousands of treatment cases. When I run fullmatch, I end up with the following error:

matrix arg to fmatch may have only 1e+07 -(nrows+ncols+2) finite entries

I suspect it means that the distance matrix is too large, but I wonder if there's anything I can do here?

[2013-04-18 15:27] benthestatistician opened #46 "update argument names in match_on examples"
/inst/examples/match_on.R appears not to have been fully updated prior to release of match_on().  Examples have arguments "exclusions =" and "excludes =".  If I'm not mistaken, these are early names for what became the "within" argument prior to release of 0.8.

These are only the instances I caught just now; we should make a careful scan for errors of this type.

[2013-04-18 15:37] benthestatistician opened #47 "fill.NAs should maintain class of LHS variable"
Consider

[code]

In this context, it would be preferable for fill.NAs to have returned a vector of class "Surv", with attending structure, as "time":

[code]

Relevant to risk-set matching problems (but not to ordinary treatment-control matching).

[2013-04-20 18:27] benthestatistician opened #48 "address inconsistency among match_on methods in acceptance of caliper argument"
At present some match_on methods accept a caliper argument while others don't. The distinctions among these methods will be unclear to many users:

[code]

is legit, whereas

[code]

is not. Worse, in the second case the caliper argument is simply ignored, with no warning to the user.
We should at least warn users of a caliper argument that's being ignored.  (This is the part I'm calling a bug.)

[2013-04-24 02:16] benthestatistician opened #49 "summary.optmatch should mark distinction between failure to match and leaving units unmatched"
In version 0.7 and prior, "failed matching" referred to situations in which infeasible constraints were placed on the matching problem in at least one subclass, whereas "not matched" meant simply unmatched. It appears that this distinction didn't survive the version 0.8 overhaul.  Consequently I'm seeing somewhat misleading, and potentially alarming, messages about how "matching failed in subclass

[2013-04-26 01:33] #46 closed, assigned to benthestatistician

[2013-04-26 15:10] jwbowers opened #50 "fill.NAs contrasts"
Hi All,

 Just highlighting that fill.NAs can now take a contrasts.arg argument just like model.matrix. This way we do not require that all factors drop their first level from the resulting data.frame. I also adjusted the man page for fill.NAs to reflect this change.

[2013-04-26 15:20] #50 closed, assigned to nobody

[2013-05-14 20:30] #44 closed, assigned to markmfredrickson

[2013-05-14 21:12] #48 closed, assigned to markmfredrickson

[2013-05-16 03:15] benthestatistician opened #51 "match_on not dispatching properly on objects inheriting from 'glm'"
Example:

[code]

Can something be done to indicate to match_on that it should dispatch its method for glm's on objects inheriting from glm? This is a bunch of propensity score models, including e.g. objects produced by arm:bayesglm().

[2013-05-27 19:52] benthestatistician opened #52 "stratumStructure updates"
The fullmatch-recover-infeasibles branch has some updates to stratumStructure, intended to remove a redundant call to table() and to clarify stratumStructure's and effectiveSampleSize's sequences of computations.  Mark, you were the last to touch these functions before I did -- could you do a quick code review and either (a) merge changes from R/stratumStructure, inst/tests/test.stratumStructure.R

[2013-05-28 15:31] #52 closed, assigned to markmfredrickson

[2013-05-29 21:05] markmfredrickson opened #53 "Documentation for `print.optmatch`"
It is hard for people to learn about special options for printing `optmatch` objects. There are two options to correct:
1.  Set things up so that users get info about this by typing `?print` -- perhaps this is just a matter of putting appropriate roxygen docs at the top o the source file referenced above
2. Set things up so that usersget info about this by typing `?optmatch` -- which presently bri

[2013-06-06 21:20] #53 closed, assigned to markmfredrickson

[2013-06-06 21:33] #45 closed, assigned to nobody

[2013-06-07 18:40] benthestatistician opened #54 "`update` method for optmatch objects"
I'd like to be able to call update, with first argument an optmatch object, to re-create and execute a variant on the call to `fullmatch()` that created the object. (Implicitly, optmatch's generated with pairmatch() also involved a call to fullmatch(), so it's enough to recreate a call to fullmatch().  This will help with 2 things, one more immediate and one later:
1. In the immediate term, this w

[2013-06-07 19:22] jwbowers opened #55 "inst/examples/print.optmatch.R not existing breaking make package"
Small issue with make package when print.optmatch.R points to an example `#' @example inst/examples/print.optmatch.R` but the example is not yet where roxygen2 expects it:

[code]

[2013-06-07 19:39] #55 closed, assigned to nobody

[2013-06-17 18:03] #49 closed, assigned to benthestatistician

[2013-06-18 21:06] markmfredrickson opened #56 "Check for sane data argument"
I recently passed a distance matrix as a `data` argument to `fullmatch`, with disastrous results. The problem was that `makeOptmatch` will go look in the `data` argument for the proper order of the output, including any units that have been dropped in the distance creation process. However, in this case, since there were only treated units on the rows of the distance matrix, `makeOptmatch` threw a

[2013-06-19 19:12] benthestatistician opened #57 "Remove calculation of matched.distances from `fullmatch`; trash optmatch objects' matched.distances attributes"
We only need matched distances inside of `summary.optmatch`, as far as I can see. Then we can figure them on demand, via `matched.distances`. Otherwise let's quit taking the performance hit.

The will require modifying `summary.optmatch` so that it simply omits the matched distance report when it can't find any such attribute on the optmatch object (as opposed to just failing).

[2013-06-24 18:13] benthestatistician opened #58 "If `match_on` is given a data argument, use it rather than implicit sources of data"
At e.g.
https://github.com/markmfredrickson/optmatch/blob/scores-in-formulas/R/match_on.R#L254
and elsewhere in the `match_on` definition in the scores-in-formulas branch, I see older code meant to pull propensity scores out of glm's.  When the user gives us both a fitted PS model and a data source, our default should be to apply the coefficients from the fitted model to the data in the supplied d

[2013-07-18 17:58] josherrickson opened #59 "update.optmatch more testing"
Due to time constraints at present, update.optmatch() is not exported, but is in the code in an alpha-ish version. It works most of the time, but doesn't have a full test suite, particularly with respect to the new fullmatch(Z~X) style calls.

[2013-07-18 18:06] #27 closed, assigned to josherrickson

[2013-07-26 17:23] josherrickson opened #60 "summary.optmatch unexpected changes"
It seems that summary.optmatch has been producing unexpected results, unnoticed for some time. Specifically, it was not displaying the 0:1 or 1:0 categories. (stratumStructure continues to work as before).

This specific issue has been fixed, but Ben: If you have some free time, can you play around with summary and see if the various warnings are still appropriate and weren't affected by the same

[2013-07-28 01:09] benthestatistician opened #61 "`pairmatch` UI should parallel optmatch UI"
In particular, `pairmatch` should roll its first argument through `match_on`, as optmatch does.

[2013-07-28 01:15] benthestatistician opened #62 "tidy up `pairmatch` examples"
At present some of the `pairmatch` example appears to be broken:

[code]

It looks as though this could be fixed by including specific `data` arguments in calls to `pairmatch`.  The tidying up should also include examples of the simplified UI per #61 , eg with formulas and/or fitted PS models as first arguments, in which case this will naturally be addressed in the process.

[2013-08-05 16:58] markmfredrickson opened #63 "Add two argument `[` method"
It would be nice to address the various sparse matrix implementations using the usual matrix style indexing (e.g., `mymatrix[1:10, 1:10]`).

It can be done using the `subset` method, which ISMs implement:

https://gist.github.com/markmfredrickson/6157476

Right now, the base data type of ISM a numeric vector, so it has single dimension indexing (e.g. `mymatrix[1:10]` will return the first 10 cells

[2013-08-06 15:12] #60 closed, assigned to josherrickson

[2013-08-06 16:26] #61 closed, assigned to josherrickson

[2013-08-06 20:21] #25 closed, assigned to nobody

[2013-08-06 20:26] #17 closed, assigned to josherrickson

[2013-08-06 20:40] #51 closed, assigned to josherrickson

[2013-08-06 20:41] #43 closed, assigned to josherrickson

[2013-08-06 20:42] #58 closed, assigned to josherrickson

[2013-08-07 12:15] #62 closed, assigned to josherrickson

[2013-08-11 06:35] benthestatistician opened #64 "`fullmatch` confused by objects inheriting from recognized s3 classes"
The below seems to be failing in version 0.9-0:
[code]
This despite the fact that `match_on` handles my.ppty.mod just fine.

I suspect this can be fixed without too much trouble, by adjusting the input-checking code at the top of `fullmatch.default`.  Perhaps it could benefit from the use of `inherits`?

[2013-08-21 19:44] benthestatistician opened #65 "Ease/provide guidance on stitching together subclass-specific distances"
Is it now possible for users to concatenate ISMs directly, forming an blocked ISM?  It seems to me that this shouldn't be too difficult to enable, if it's not already enabled.  If it is already enabled, the fact that I couldn't find my want to an example in the docs suggests that examples and/or links are in order.

If there were also simple methods of extracting subproblems from a blocked ISM, to

[2013-08-21 19:52] benthestatistician opened #66 "`"[.optmatch"` needs subproblem awareness"
When a subsetting an optmatch object its "subproblem" attribute, if present, should be subsetted in parallel w/ the "contrast.group" attribute.  With the small difference that optmatch objects can't reliably be expected to carry a subproblem attribute, that being a relatively new addition, it should be possible to handle this in parallel with handling of the "contrast.group" attribute, which isn't

[2013-08-23 17:58] markmfredrickson opened #67 "Use implicit data when `fullmatch` grabs environment"
We could probably eliminate this warning message (`xs` is a matrix):

[code]

[2013-09-11 17:01] josherrickson opened #68 "Merging optmatch objects"
`optmatch` objects should be able to be merged easily. Overriding `c()` seems the most natural, as `optmatch` objects are essentially `factor` objects with extra information.

[2013-09-20 21:54] josherrickson opened #69 "Adjust warning when only failures are in infeasible subgroup"
If a user has subproblems, some of which are only treatment or only control members, that gets seen as failure to match. Really, its just several unmatchable members (similar to a row/col of match with all Inf) and not a failure. (See email conversion "Fwd: A question regarding R package Optmatch")

[2013-09-26 01:16] benthestatistician opened #70 "fullmatch/malloc issue"
S. Guo draws my attention to a problem with fullmatch. From his code:

[code]

The data file he references is available [here](http://ssw.unc.edu/psa/sites/ssw.unc.edu.psa/files/chpt5_2.dta).

[2013-09-26 02:16] benthestatistician opened #71 "compensate for non-unique names in distances?"
As of version 0.9-0, we insist on unique row and column names for matrix distances.  I learned this from S. Guo, whose book suggest the following code (now broken):

[code]

A fix was to replace the line setting the names of `prank` with

[code]

I defended the error report on the grounds that repeat ID's are a data bug.  However, back-compatibility is one of our goals, and from that perspective t

[2013-10-29 18:19] josherrickson opened #72 "Additional testing to solver fallback check"
[6d3f0b](https://github.com/markmfredrickson/optmatch/commit/6d3f0b2a8a4416cb51eddeeee56c11da874e005f?w=1) added the ability to toggle between the older 0.8-3 version and the newer 0.9-0 solver. It was not immediately apparent how to test that the correct version of the solver is always used. It IS tested that attempting to call either version works, and produces the same output.

It would be usef

[2013-10-31 14:24] #1 closed, assigned to markmfredrickson

[2013-10-31 14:41] benthestatistician opened #73 "`scores` should check its "object" argument for non-NULL "subset" specifications & overwrite them"
As of this writing, inst/tests/test.scores.R has
[code]

This is totally OK, but I think the ideally desirable behavior here would be to have `scores` soldier through without complaint, stripping off the
[code]
part of the call generating pgscore before updating it.

No rush about implementing this. Rather, I'd be interested to hear comments about potential side effects.

[2013-10-31 19:47] #66 closed, assigned to josherrickson

[2013-11-01 12:59] josherrickson opened #74 "infeasibility recovery with unmatchable controls"
Adam Sales brought this to our attention:

[code]

The issue is that `d1 + caliper(d1, .5)` has 311 unmatchable controls. Removing those controls allows recovery to work as expected.

One obvious fix is to remove unmatchable controls earlier, instead of letting them get passed to the solver. However, this might obscure a bug later on (as recovery should not be affected by their presence.)

[2013-11-20 02:20] benthestatistician opened #75 "set up private testing framework"
We need a place to keep tests involving data that we can't make public.  The task is to set this up, either a private git repo with optmatch as a submodule or a private subversion repos with optmatch as an external.  (Or one of the two of those things that pulls in an optmatch tarball before running the tests.)

I lean toward setting this up as a subversion repos, hosted within the Michigan infras

[2013-11-20 02:24] benthestatistician opened #76 "faster updates full/pairmatch calls that change only the tol argument"

[2013-12-03 14:54] #74 closed, assigned to josherrickson

[2013-12-04 17:06] benthestatistician opened #77 "update docs to reflect non-support of negative `omit.fraction`'s."
Here's what the docs said about negative omit.fraction values, until I edited it out just now b/c I realized it wasn't working in the way advertised:

    If \code{omit.fraction} is a positive fraction
    less than one, then \code{fullmatch} leaves up to that fraction of the control
    reservoir unmatched.  If \code{omit.fraction} is a negative number greater
    than -1, then \code{fullmatch} l

[2013-12-12 19:52] benthestatistician opened #78 "Update `fmatch` error message to reflect actual max problem size that's in force"
If `fmatch` bombs out because it was given a problem with more arcs than the maximum problem size, its error message describes the max problem size as 1e7, event if it's been changed from that value.  See [this line](https://github.com/markmfredrickson/optmatch/blob/master/R/fmatch.R#L44) of R/fmatch.R.

[2013-12-13 17:09] markmfredrickson opened #79 "Use of `$(shell)` in Makefile"
From the CRAN team:

[2014-05-06 15:52] #70 closed, assigned to benthestatistician

[2014-06-10 18:32] markmfredrickson opened #80 "Euclidean distance over factors (`match_on.formula`)"
The most logical Euclidean distance calculation over factors would be to have a zero for all pairs with the same value of the factor and some positive value otherwise. Right now, this is not happening:

[code]
This behavior can be approximated with

[code]
This problem probably also affects Mahalanobis distance.

[2014-06-10 21:39] markmfredrickson opened #81 "Binary operations over ISMs"
Right now we implement the `Arith` group of operations for ISMs and vectors. It would be good to also implement the comparison and logic groups for both. The convention in the `Arith` operations is that the ISM is treated as if it were a column-major ordered dense matrix (where order is given by the `rownames` slot). This logic could get factored out into a helper function and then reused for arbi

[2014-07-17 15:25] benthestatistician opened #82 "`match_on` should dispatch numeric method when it can't find its first argument"
We had a report from a user who was trying to get code along these lines to work:
[code]
Because `match_on` can't find `cap` at the moment it has to dispatch, this fails and throws an error ("Error in match_on<...>: object 'cap' not found").

The premise of the issue title is that we can fix this problem, without causing others, by dispatching to the numeric method in this situation.  I can't thin

[2014-07-25 11:38] benthestatistician opened #83 "`match_on.glm` not properly compensating for NAs"
The lines of `match_on.glm` that read

[code]

should be, I think,

[code]

Otherwise the pass-through to `scores` fails to achieve its purpose, as is seen this example from Carrie Hosman:

[code]

But it may be that the look at `x$na.action` addressed some other intention, not sure.

[2014-07-30 21:40] markmfredrickson opened #84 "Development documentation in README.md"
Peter S. noted that the directions relating to using the downloadable `.zip` file don't work (as `make package` depends on `git`, which the user might not have). In general, it would be useful to update this section with more info on the use of the `Makefile`.

[2014-08-05 15:28] benthestatistician opened #85 "Improve `tolerance` logic when `omit.fraction` >0"
`SubDivStrat` seems to draw no distinction between problems in which we're matching all available controls and problems where we're matching a small number of them.  I have the impression that this is gumming up problems where we're selecting a small fraction of controls from a large reservoir:  they take a long time, and if you look at `summary` applied to the result you're often told that the er

[2014-08-06 20:26] #83 closed, assigned to markmfredrickson

[2014-08-07 15:37] benthestatistician opened #86 "pipes in `match_on` formulas?"
In response to an aside from me, on the #82 thread @markmfredrickson suggested enabling usage like
[code]
interpreting the material to the right of the pipe an `exactMatch` type restriction.  Starting up a thread here to discuss advantages and feasibility.

[2014-08-08 18:49] markmfredrickson opened #87 "`match_on` NA handling"
9ccdf05 fixes bugs caused by NA removal in `model.frame`. There are a few other places in `match_on` methods that use `model.frame` with the default argument `na.action = na.omit`. What should the policy for `match_on` methods be?

[2014-08-08 20:28] markmfredrickson opened #88 "`demo/optmatch.r` is out of date and has errors"
This file has fallen out of date with the rest of the package. In addition to relying on `mdist` and some older styles of distance creation, it runs into an error attempting to compare two different matches.

Do we want to keep this file? If so, we should update it.

[2014-08-13 03:26] markmfredrickson opened #89 "Documentation on using optmatch with SAS and Stata"
I recently worked through a problem with a user where he did his matching in R, but wanted to export the optmatch object to SAS. The default way of marking groups is to use lexicographical ordering ("1.1", "1.2", ... "1.9", "1.10", ...). When imported into SAS, the data was assumed to be numeric and "1.1" and "1.10" were treated as the same value. The solution was to export the match using `as.num

[2014-08-15 14:02] jwbowers opened #90 "optmatch not a binary for OSX on Cran"
Hi All, Just FYI. optmatch is not a binary for OSX right now. You might get emails from people who do not know to install type="source" and/or who do not have gfortran installed on their systems.

[2014-09-01 09:08] #90 closed, assigned to nobody

[2014-09-01 09:18] benthestatistician opened #91 "enhance usability of optmatch objects as factors"
When I try to put an optmatch object after the pipe in a formula given to `coin:::independence_test`, I get an error to the effect that "object of class 'optmatch' is not valid for slot 'block'."  If I instead put `factor(myoptmatch)` there, it works.  Ideally this wouldn't be necessary.

It may be that the problem isn't on our side. Or it may be that we could be doing more to make the fact that o

[2014-09-02 19:52] #91 closed, assigned to nobody

[2015-01-07 18:30] benthestatistician opened #92 "error identifying infeasible problems"
At the beginning of `.fullmatch.with.recovery`, decision as to whether to trigger recovery is based on whether
[code]
is `TRUE`.  I think the criterion should instead be
[code]

[2015-01-07 21:52] josherrickson commented on #92
Fixed in 59085225.

[2015-01-07 21:52] #92 closed

[2015-02-09 16:25] benthestatistician commented on #88
Let's disable the demo, at least for the time being.

[2015-02-09 16:29] benthestatistician commented on #81
Assigning this to Josh B, as he'll be working on the ISM class.  I don't know how important it is that we do this, so don't invest too much, unless Mark says otherwise; and feel free to revise or eliminate task, as appropriate.

[2015-02-09 16:42] benthestatistician opened #93 "`subset.InfinitySparseMatrix` problem; implicit integer class of row & col slots"
Per the definition of the `InfinitySparseMatrix` class, row and col are numerics. However, the C function subsetInfSparseMatrix` seems to expect integers here. This causes `subset.ISM` to fail, as in this example:

[code]
Here `subset.ISM` fails because of the problem.  It can also create the problem, by spitting out ISMs w/ non-integer rows and cols, even when the ISM that went into it had intege

[2015-02-09 16:47] benthestatistician opened #94 "`match_on.InfinitySparseMatrix` should subset when appropriate"
If `myISM` was built for a big data set, I should be able to create a smaller ISM that's adapted to a subset of those data `smalldata` via

[code]
At least, that's how it appears to me.

[2015-02-09 23:43] markmfredrickson commented on #88
I've left the file in place if we ever want to update it, but it is no longer included in the `.tar.gz`.

[2015-02-09 23:43] #88 closed

[2015-02-13 01:49] nullsatz commented on #81
Built the latest R-patched with memory profiling definitely enabled. Then got some interesting results as far as memory goes. Output of Rprofmem attached. Rprofmem implicates 'mapply' and the last 'match' in Ops by shear number of lines devoted to them in the output as does Rprof:

$by.self
              self.time self.pct total.time total.pct mem.total
"match"            3.74    73.05       3.74

[2015-02-13 01:52] nullsatz commented on #81
Can't attach my Rprofmem.out file. Shoot.

[2015-03-02 04:49] nullsatz commented on #81
Branch issue81 contains new C++ ISM binary operations.
make test passes

[2015-03-02 16:13] nullsatz commented on #93
This is my bad. When I wrote the C code, I just assumed that I would be getting handed integers.

I have liberally added as.integer around and updated a tiny section of roxygen docu.

The changes are in the issue93 branch from master and tests clean.

[2015-03-02 16:19] nullsatz opened #95 "C code improvement"
Since we have adopted Rcpp to help with binary ISM ops, we could update the rest of the C code to use the Rcpp api. This would reduce the raw lines of code, help reduce the meaningless C boilerplate, and improve readability.

I would also like to introduce doxygen comments in the C code even if we are not using it to produce external docs.

[2015-03-02 21:15] benthestatistician commented on #95
Make sense to me. I imagine there may be a performance hit, but if so then it would likely be modest?

In any case, if Mark agrees then I say go for it.

[2015-03-02 21:18] benthestatistician commented on #94
As this is related to work Josh B seems to have some momentum on, I'll pass it to him to see if he's willing to have a go at it.

[2015-03-02 21:22] benthestatistician commented on #93
Looks good to me.  Mark,  could you do a quick review and then pass-back to Josh B for changes, merging back into master and closing the issue, as appropriate?

[2015-03-02 22:11] benthestatistician commented on #80
When `model.matrix` is called inside of `match_on.formula`, it expands factors using whatever applicable function it finds in the `options("contrasts")`.  For me this is

[code]

So in the example Mark gives, it's `contr.treatment` that's being applied, with a result as follows:
[code]

We'd like a 4 column dummy encoding here, not this 3 column version. In principle it should solve the problem to

[2015-03-03 17:01] markmfredrickson commented on #93
Looks good. Merged into master.

[2015-03-03 17:01] #93 closed

[2015-03-03 17:02] markmfredrickson commented on #95
Sounds good to me.

[2015-03-03 17:02] #95 closed

[2015-03-03 17:53] markmfredrickson commented on #81
Looks good. I wonder if we can even do a little better. Right now, we calls to `match` to get ISMs that have the same names but in different orders to have the same IDs. We don't guarantee that ISMs have rows or columns in any specific order, so different matrix generation functions are free to do whatever they want.

For example, we could have two different representations of this matrix (which a

[2015-03-05 22:34] markmfredrickson opened #96 "Drop used levels after subsetting"
Right now, when we subset an an `optmatch` object, the updated factor has "ghost" levels that hang around:

[code]
The solution is as simple as calling `factor` on the match object before we return it.

[code]

[2015-03-05 22:53] benthestatistician commented on #96
In principle, `[.optmatch` takes a `drop` argument.  I'm not certain, but suspect it that it's not doing anything with it as of now.  I'd support (a) fixing that bug, so that it actually drops levels if you tell it to; and (b) in this context having `drop` default to `TRUE`, counter to settings for other `[` methods.

[2015-03-05 23:04] markmfredrickson commented on #96
Then never mind. This behavior is consistent with the underlying factor behavior, so we should keep that.

[2015-03-05 23:04] #96 closed

[2015-03-05 23:10] benthestatistician commented on #96
Checking just now, it appears that `[.optmatch` does listen to `drop` arguments:
[code]
So, no bug per se.

For future reference, I'm still open to making `TRUE` the default of `drop`.  Since Mark doesn't seem eager to do that, though, I'm going to close without changing anything.

[2015-03-05 23:50] benthestatistician commented on #80
Update: `contr.poly` appears to give good answers with multiple factors, too.
[code]

Thoughts on how to make a special value of `options(contrasts)` hold inside of `match_on.formula`, anyone?

[2015-03-06 12:26] benthestatistician commented on #80
The `contr.poly` solution gives non-consonant answers across different representations of similar information.
[code]

A solution is to use a variant of `contr.Poly` that's scaled by $2^{-1/2}$.  I found that `contr.poly` is being called in a way that differs from what's documented -- among other things, changing its `scores` argument doesn't seem to do much -- but I found that something like this

[2015-03-08 03:07] benthestatistician commented on #80
Pushed a new branch, issue80, containing one solution to this problem.  The solution involves defining a new function `contr.match_on`.  Originally intended to make it a private function, but that didn't work; I had to export it to get it to be visible when needed.  If you can think of a way to export this but avoid having an entry for it in the manual, let me know.

[2015-03-08 19:37] benthestatistician commented on #81
At the moment I can't get the issue81 branch to compile on my mac.
[code]
This against commit 383c7808500df3c248fa7ef3e19d3ef7bfa35e2b, and on a system as follows.
[code]
Help/advice?

[2015-03-08 19:46] nullsatz commented on #81
We may need to add something to our makevars for clang. I'll try to check
it out early this week.
On Mar 8, 2015 3:37 PM, "Ben" <notifications@github.com> wrote:

[2015-03-10 21:13] nullsatz commented on #81
I pushed a fix just now for Ben's issue on OSX.

The included header files need cleaning up after the conversion to Rcpp. We
should be including Rcpp.h and not most of the R header files like R.h
Rdefines.h and Rinternals.h

I'll try to take care of the clean up this week.

On Sun, Mar 8, 2015 at 3:46 PM, nullsatz <nullsatz@gmail.com> wrote:

[2015-03-24 14:56] benthestatistician commented on #73
As @josherrickson and I have been discussing related issues, I'd like to propose a simple resolution to this issue.  if it looks OK to you, Josh, please implement and then close out the issue.

The resolution: if `scores` craps out after getting into its branch concerned with refitting after imputing NAs, then we throw an informative error intended to help the user circumvent the limitations of `g

[2015-03-25 15:40] benthestatistician opened #97 "When updating, `scores` to use `fill.NAs(formula(object), data=model.frame(object))`"
Current implementation is a little different than what I had in mind.

[2015-03-25 18:38] josherrickson commented on #73
Implemented in a4f2463.

Passing to Ben, please close or send back to me with updates to the actual error message produced.

[2015-03-25 18:59] nullsatz commented on #81
For R 2.15.2 we need to use Rcpp 0.10.5

I just pushed a compatibility fix for R 2.15.2 and Rcpp 0.10.5

Installed ok with latest R and Rcpp too, I think. Please let me know if you have any trouble on OSX.

[2015-03-25 19:25] benthestatistician commented on #73
Two comments:
1. Could we arrange to have the error message reference the `object` argument in whatever way the user is referencing it?  Users will appreciate this.  That's what I meant to gesture to with "deparse substitute blah blah". One example of that, somewhat more complex than is seen here, is @nullsatz's function `missing_x_msg`, in optmatch/R/utliities.R.
2. For the text in the `stop`, ho

[2015-03-25 19:59] josherrickson commented on #73
Done.

    Error in scores(pgscore) :
      Unable to address missingness in pgscore on the fly.
    Try dealing with NAs before the call to scores(), perhaps using fill.NAs().

[2015-03-25 20:30] benthestatistician commented on #73
Terrific, thanks!

[2015-03-25 20:30] #73 closed

[2015-03-26 03:21] benthestatistician commented on #81
No trouble on OSX for me! R version 3.1.1 on OS 10.8.5 -- same setup that it wouldn't build on a few weeks back. Also compiled OK for me on RHL (the evalengin box).

[2015-03-26 03:23] benthestatistician commented on #82
It appears that @nullsatz set up the informative error message in the missing_x branch some months back.  I like what I see there - is it waiting on anything in particular before a merge back into master?

[2015-04-02 02:25] nullsatz commented on #81
I merged branch issue81 with the master branch and uploaded the result to winbuilder. Winbuilder build it with only 1 warning about me changing the maintainer (only so I could get the email).

So I merged the branch issue81 with the master and pushed it up to github. I'm closing this issue.

[2015-04-02 02:25] #81 closed

[2015-04-07 00:36] nullsatz commented on #82
Just merged missing_x into master.

[2015-04-07 00:36] #82 closed

[2015-04-07 00:47] nullsatz commented on #86
In the presence of pipes, missing_x_msg from R/utilities.R will need some elaboration.

[2015-04-08 09:48] josherrickson opened #98 "roxygen2 4.1.0 error"
Roxygen 2.2.2 works fine, but roxygen2 4.1.0 produces an error complaining that

    @alias is an unknown key

in deprecated.R.

[2015-04-14 15:03] markmfredrickson commented on #86
Cross linking with #24.

[2015-04-14 16:20] benthestatistician commented on #24
If we can use pipes to communicate exact matching criteria, let's do that instead of this. (`within` will become a less frequently used argument, maybe used predominantly to communicate calipers.)

[2015-04-14 16:25] benthestatistician commented on #86
1. I think we should do this instead of (what now remains of) #24
2. In the interests of simplifying this task, let's assume to begin with that calipers are specified otherwise. Only blocking factors to the right of the pipe.

Then piping could work by assembling a blocking formula from the LHS of the formula that was given to `match_on`, joined by a `~` to the whatever is to the right of the pipe

[2015-04-14 16:34] benthestatistician commented on #87
After some offline discussion/hearing from some frustrated users, I think the default policy should be `na.action=na.pass` (or similar), followed by recoding any resulting NAs in the ISM to `Inf`.  The end result, after user calls `fullmatch` or `pairmatch`, is that the unit in question will just go unmatched.

There's remaining question about whether the user should get some sort of warning about

[2015-05-02 18:37] benthestatistician commented on #97
Not necessarily directly relevant to this issue, but potentially helpful for use with `scores`. I noticed that for functions called within a formula that may be used for prediction, one is encouraged to supply a `makepredictcall` method.  E.g., `scale`, `poly`, `ns`.  See help page for `makepredictcall`,
[code]

[2015-05-07 15:13] jwbowers opened #99 "Error having to do with the filename of boxplot-methods.R"
I had trouble building and installing the latest version of optmatch (master branch).  Here is some of the text surrounding the error:

[code]

I discovered that I was not the only person having this problem: <https://stackoverflow.com/questions/14728326/files-in-collate-field-missing-from-package-when-installing-from-github>

As a very quick hack I just did:

[code]

And now it builds even though

[2015-05-07 16:55] benthestatistician commented on #99
I can reproduce the problem (complaints about not finding boxplot methods after the file name change), but I can't see why it happens. After the rename I'm seeing the problem after running `make tests` locally, ie without `install_github` (which seems to be a part of the issue in the linked thread).

Renaming to `boxplotmethods.R` also doesn't fix.  greping in optmatch and subdirectories didn't id

[2015-05-08 02:47] benthestatistician commented on #99
Fixed now.  Main clue: In my optmatch/ directory I find a file called `.pkgexclude`, among other things containing the line `boxplotMethods.R`. Modifying it directly doesn't help, because the Makefile creates it on the fly, per the line
[code]

[2015-05-08 02:47] #99 closed

[2015-05-14 16:34] josherrickson opened #100 "fill.NAs has problems ignoring response when response is compound"
Error in eval(expr, envir, enclos) : object 't1' not found

I believe this is due to `x <- as.formula(paste("~. -", response))` in fill.NAs. When `response` has a `+` in it, later in the function, `cost` and `t1` are independently looked for in `d`, when only `"cost + t1"` exists.

[2015-05-14 16:36] josherrickson commented on #100
I've submitted a fix into branch fill.NAs.response.fix, just wanted to run it by @markmfredrickson to ensure it doesn't have any unintended consequences.

[2015-05-16 22:44] benthestatistician opened #101 "In `match_on.glm` interpret use of `strata` as call for exact matching"
In glm formulas one can wrap a nominal independent variable in `strata`, without changing the result:
[code]
As I understand it, the purpose of the `strata` command is purely to leave signals for methods and functions that will operate on the fitted glm.  Let's use it as a signal that the user wanted her propensity score matching to incorporate exact matching on the argument of `strata`.

(Taken t

[2015-05-16 22:51] benthestatistician commented on #86
If, per #101, we're going to start encouraging the use of `strata` in propensity modeling formulas to specify exact matching variables, then maybe we should be doing the same in mahalanobis/Euclidean distances.  I.e., maybe we should introduce support for `strata` _instead of_ support for pipes.

I lean this way myself, because I think I can make good use of the `strata` semantics in other PS rela

[2015-05-17 13:01] josherrickson commented on #101
`strata` isn't a function in base R Ben. I see a version of it in the survival package, is that the one you're referring to?

[2015-05-17 14:32] benthestatistician commented on #101
Yep, that's the one I meant. As the survival package is recommended, I'd
think we could assume in general that it's installed, if not necessarily
loaded.

[2015-05-18 14:28] josherrickson commented on #97
The `bigglm` class's version of `update` is a bit wonky; it looks like instead of refitting the model with the modified whatever, it only allows adding additional observations to the model. @markmfredrickson feel free to correct me if I've got that wrong.

@benthestatistician How do you want `scores.bigglm` to proceed? Should it simply skip the first stage (updating the object after imputation)?

[2015-05-18 14:56] benthestatistician commented on #97
@josherrickson, my read of what `update.biglm` is doing concurs with yours.

As to what to do, my preference would be to refit the model with modified
data and formula, so that from the perspective of the optmatch user
`scores` has consistent behavior.  If that turns out to be tricky, though,
feel free to instead give the user an informative error message (indicating
what she should do by hand) an

[2015-06-16 10:00] josherrickson commented on #97
I ended up with the second option; when using `biglm`, if the data is not complete, it throws a warning about imputing beforehand, and continues without imputation on the first stage.

[2015-06-16 19:22] josherrickson commented on #101
This has been implemented. See [test.fullmatch.R#L409](https://github.com/markmfredrickson/optmatch/blob/master/inst/tests/test.fullmatch.R#L409) for an example.

[2015-06-16 19:23] josherrickson commented on #86
@benthestatistician With #101 finished, can this likewise be closed?

[2015-06-16 19:34] josherrickson commented on #97
This is implemented.

For the record, the way scores now works is via two steps. First, it (if needed) mean-imputes into the data which generated `object`, then refits `object`. Second, it (if needed) mean-imputes into `newdata`, whether `newdata` is explicitly given or is created automatically.

As stated before, `scores.bigglm` skips that first step.

There is also the remote possibility that a

[2015-06-16 19:34] #97 closed

[2015-06-16 19:42] benthestatistician commented on #101
This is great stuff! But if I'm reading the example correctly, it demonstrates calls to `strata` within `match_on`'s formula method, not the `glm`.  I.e., it solves the next problem I was going to ask someone to work on ;-)

It may be that I'm just missing the test for uses of `strata` within a PS model, in which case please direct me to it...

[2015-06-16 19:45] benthestatistician commented on #86
While I think #101 was closed a little prematurely, the commit behind its closing suffices for this issue.

 In any case, now that users can specify exact matching within the formulas passed directly to `match_on`, `pairmatch` or `fullmatch`, there's no need for pipes anymore.  Thanks again!

[2015-06-16 19:45] #86 closed

[2015-06-16 20:17] josherrickson commented on #101
My mistake, I thought the gesture towards `glm` above was only in how it implemented `strata`.

I'm not sure I follow how this should work in this case. If the user doesn't load the survival package, `glm` won't take a `strata` argument and I don't think we want to get into overloading `glm`. If we do add a dependency then the model that is fit is inconsistent.

E.g., if I wanted to exactMatch on

[2015-06-16 20:58] benthestatistician commented on #101
@josherrickson,  I think we should be OK with the non-equivalence in your example.  It's a best practice, if not necessarily a well-documented one, to add fixed effects to the PS model for whatever variables you're going to exact match on.  (You tend to wind up with better balance that way.)  The user really ought to be fitting `mod1` or `mod2` if she intends eventially to stratify on `ne`.

I als

[2015-06-17 13:36] josherrickson commented on #101
So, in `match_on.glm`, these two should be equivalent:

    match_on(glm(pr ~ t1 + ne, data=nuclearplants), within=exactMatch(pr ~ ne, data=nuclearplants), data=nuclearplants)
    match_on(glm(pr ~ t1 + strata(ne), data=nuclearplants), data=nuclearplants)

Should the same hold true in `match_on.formula`? E.g., for the following:

    match_on(pr ~ t1 + strata(ne), data=nuclearplants)

Which of the

[2015-06-17 14:32] benthestatistician commented on #101
I agree: in this instance and others like it the `mod_form1` interpretation
is best.

On Wed, Jun 17, 2015 at 9:36 AM, josherrickson <notifications@github.com>
wrote:

[2015-06-18 01:45] josherrickson commented on #101
@benthestatistician Take a look at [test.fullmatch.R#L442](https://github.com/markmfredrickson/optmatch/blob/master/inst/tests/test.fullmatch.R#L442).

Sorry this took so long; this actual change was fairly trivial given what I had already for `match_on.formula`, but it exposed a bug in `scores` (it wasn't properly handling `a*b` terms) that took a while to overcome - but on the plus-side, I came

[2015-06-18 01:49] josherrickson opened #102 "Two tasks for scores"
I should get these fixed shortly, but as I'm out of town for the next week, recording so they don't get lost if I don't solve them tomorrow.

1. `scores.bigglm` needs to be updated to use the new version of `scores`. Do I even need `scores.bigglm` with the new version, or is an `if` statement sufficient?
2. The lack of `data` arguments bug is back.
[code]

[2015-06-18 13:55] benthestatistician commented on #100
I like [@josherrickson's fix for this issue](https://github.com/markmfredrickson/optmatch/commit/d98fa022b5f20bdd5c3e2f8dc78a0df42160671c).  I'll be interested to hear @markmfredrickson's take too.

[2015-06-18 14:05] josherrickson commented on #102
`scores.bigglm` has been removed and its work folded into `scores`. `scores` is no longer s3 generic.

[2015-06-18 14:16] josherrickson commented on #102
Lack of `data` bug just needed an additional `tryCatch`. All fixed.

[2015-06-18 14:16] #102 closed

[2015-06-18 14:20] josherrickson commented on #100
Just noting that this is in master (d98fa022), I needed the fix for some of other recent work.

[2015-06-18 15:36] benthestatistician commented on #101
Nice work! I added a minor change to the error handling when `model.frame` with `na.action=na.pass` doesn't work, intended to avoid a spurious warning in the event that `model.frame` won't go even without the special `na.action` argument.  Also reworded that warning a little.  Change appears not to break anything, but feel free to take a look [master a5f20a7].

In the meantime I'll go ahead and cl

[2015-06-19 16:45] markmfredrickson commented on #100
Might be good to have a test case with `cbind(a, b) ~ x`, as that is a formula we're likely to encounter if someone is doing a grouped logistic regression. Otherwise, looks good.

[2015-06-19 18:32] benthestatistician commented on #100
Good catch, Mark. +1

On Fri, Jun 19, 2015 at 12:45 PM, Mark Fredrickson <notifications@github.com

[2015-06-21 12:04] josherrickson commented on #100
Looks like this does not work. Issue is unrelated to my fix above.

The problem is that `model.frame(lm(cbind(a,b) ~ c))` is dimension `n x 2`, not `n x 3` - apparently a `data.frame` can include a `matrix` as a single "column".

I'll work on fixing this over the next few days.

[2015-06-22 19:29] benthestatistician opened #103 "update `fill.NAs` semantics re `scores`, NA handling"
While we're making adjustments to `fill.NAs` (cf #100), let's also enable some special handling of `strata` terms in the calling argument, to match functionality and semantics we're committing to elsewhere (e.g. #87).
1. In contrast to other terms on the RHS of the formula arg, `NA`s in a `strata` term should be interpreted as instructions to leave the designated units out of the match, and passed

[2015-06-22 19:32] benthestatistician commented on #103
Items listed in the issue statement were a part of a longer wishlist for this function.  Below are the segments that didn't make it into the issue.  Note that the last of them could be added on its own independently of the other two.

4. Mean-impute NAs within strata, not across them. (If useful to the EE, add option to mean-impute within a stratum to the treatment group mean; cf GL1605)
5. This f

[2015-06-23 12:03] josherrickson commented on #100
The issue with `cbind` is larger than I anticipated. Seeing no blocks to the fix that opened this issue, closing to open a fresh issue for `cbind`.

[2015-06-23 12:03] #100 closed

[2015-06-23 12:24] josherrickson opened #104 "`cbind` on LHS of `fill.NAs`"
[code]

This came up in issue #100. Data frames can have `matrix` "columns", as shown above. These objects arise from `model.frame` calls on an object with a `cbind` response. However, these do NOT arise when calling `model.matrix` such as

[code]

which gets called inside `fill.NAs`.

Three possible solutions I see:
1) At the very beginning, rework the data frame into the traditional structure. T

[2015-06-23 12:25] josherrickson commented on #104
Just noting below some annoying behavior when trying to access extra "columns". Using `drop=FALSE` lets `dim` return non-NULL values, but doesn't split the `cbind`, whereas not using it returns NULL on vectors. What would happen if you had a "column" that was a matrix of dimension 32x1?
[code]

[2015-06-23 20:57] benthestatistician commented on #104
What a thicket!  Two thoughts:
1. I'd also be happy with functionality to make `fill.NAs` warn or stop if the user tries to give it a 2-column response, coupled with adding an example to the `fill.NAs` help page showing how to handle this sort of scenario, and a pointer to that example in the warning or stop message.
2. It may be that the simplest way to get this functionality (now or at some time

[2015-06-23 21:07] benthestatistician commented on #103
Noting here that explanation of subtask 3 discusses the "formula associated with" the return value data frame, but that's oversimplified. If that return value is `outdf`, what I'm referring to here is `formula(terms(outdf))`, not `formula(outdf)`:  starting with an `np.filled` as in the `fill.NAs` examples,
[code]

Our present assumption is that `fill.NAs` will spit out a data frame, `outdf`, with

[2015-06-24 22:17] markmfredrickson commented on #87
I've implemented this for the formula method, but I noticed there is an inconsistency with the GLM method that attempts to patch missingness. From the test code from the previous commit:

[code]
The last tests fails because the NA's don't get propagated for the GLM method.

Is this the behavior we want? Even if inconsistent, it is probably preferred.

[2015-06-24 23:23] benthestatistician commented on #87
I'm OK with these two methods handling NAs differently. There may be
something better on the Mahalanobis/Euclidean side than casewise deletion -
impute to linear regression prediction of missing field from non-missing
fields, perhaps - but I take that to be a project for another day.

Something that _may_ make sense as an add-on: add an na.action slot or
attribute to the ISM class, along with or i

[2015-06-24 23:52] markmfredrickson commented on #87
In order to avoid confusing the issue, I'm going to close this ticket. If-when we want `na.action` slots, we can draw up guidelines.

[2015-06-24 23:52] #87 closed

[2015-06-25 20:28] markmfredrickson commented on #103
I've implemented everything but comment 2, items 2 and 3. I've tried attaching a `terms` attribute the result `fill.NAs`, but then I get the following error when trying to build a model frame:

[code]
Terms objects have always been something of a black art to me. Any thoughts?

[2015-06-25 22:09] benthestatistician commented on #103
Re `terms` problem:  I notice that at fill.NAs.R#L22 we're using a formula
of format `<response> ~ .` to define the terms object `x`.  I suspect the
formula inside of a `terms` attribute needs to be explicitly spelled out,
rather than with a placeholder -- i.e., no dots as placeholders for
variables on the RHS.

On Thu, Jun 25, 2015 at 4:28 PM, Mark Fredrickson <notifications@github.com>
wrote:

[2015-07-01 18:44] markmfredrickson commented on #104
Perhaps the solution to this issue (and some related issues with trying to pass along strata information) is to return a new object of our own creation (in particular a subclass of `forumla`).

Looking at the `glm` function, it will call `model.frame` on it's arguments. If we passed in a custom object into `glm`, we could create our own `model.frame` method that would produce the filled in version

[2015-07-01 21:30] markmfredrickson commented on #104
I'm optimistic about this approach. I've pushed up a branch with an initial attempt. So far, so good.

One potential benefit but also possible issue is the way this interacts with functions like `predict`. On the pro side, since our object gets saved, our methods get called when building the new data frame for prediction.  On the con side, with the current implementation, if the new data doesn't h

[2015-07-01 22:15] #94 closed

[2015-07-02 17:00] benthestatistician commented on #104
This approach looks very very promising. Perhaps it will help us knock out a number of the `fill.NAs` related issues in our issue queue. In terms of coherence w/ the ordinary modeling workflow, and with R's presumptions about model building and the like, it's a substantial advance on what we have now.

It's also a relatively large change, the kind that could expose coverage gaps in our testing.  @

[2015-07-03 14:59] markmfredrickson commented on #103
Cross linking to #104, as the solution might be the same: namely, returning a different type of object from `fill.NAs`.

[2015-07-03 15:19] markmfredrickson commented on #78
I left the `stop` in, but added a note on how to disable the check.

[2015-07-03 15:19] #78 closed

[2015-07-03 15:21] markmfredrickson commented on #47
Cross linking to #104, which might negate this issue.

[2015-07-03 15:22] markmfredrickson commented on #39
Cross linking to #104 which might to negate this issue.

[2015-07-03 15:23] markmfredrickson commented on #24
Issue #86 solved this with `strata` functions in the formula to `match_on.formula`.

[2015-07-03 15:23] #24 closed

[2015-07-03 15:48] markmfredrickson commented on #101
I'm getting an error on the master branch on the [tests Josh links to above](https://github.com/markmfredrickson/optmatch/blob/master/inst/tests/test.fullmatch.R#L455). Reopening.

[2015-07-03 16:10] markmfredrickson commented on #101
Oops. My mistake. I refactored some code that caused this error. Fixed.

[2015-07-03 16:10] #101 closed

[2015-07-03 18:21] markmfredrickson commented on #80
I don't know if it is possible to have `contr.match_on` be a local function and use either a) `options` or b) `contrasts(column) <- "contr.match_on"`. Both of these go looking for the function (by name) in the `parent.env()`. It does not seem that `"optmatch:::contr.match_on` is considered valid.

Is there a reason you don't like manually setting the `contrasts.arg` argument in `model.matrix`? I s

[2015-07-03 18:41] benthestatistician commented on #103
If I'm correctly interpreting Mark's progress report of a week ago, this is implemented:

...while this isn't:

I think these two features should be pushed to optmatch together.  If one's ready but the other isn't, we might put the one that's ready in optmatchExperimental and wait to release them both to optmatch.

[2015-07-04 10:05] benthestatistician commented on #80
Part of the problem with the commented-out material was that it hard-codes use of `contr.match_on` as opposed to some other contrast function the user might specify by way of `options`.
[code]
Looking at it with fresh eyes, however, overriding the contrasts option may be a feature rather than a bug.  If the user sets a global option for contrasts, presumably her intention is to influence the way f

[2015-07-22 15:45] markmfredrickson commented on #80
Made the function private by calling it directly (to generate matrices) instead of having `model.matrix` call it.

[2015-07-22 15:45] #80 closed

[2015-08-06 01:11] #10 closed

[2015-08-06 01:14] benthestatistician commented on #13
I've come around to agreeing w/ Mark's perspective (e.g. his comment of Sep 25, 2012). Closing.

[2015-08-06 01:14] #13 closed

[2015-08-15 15:35] benthestatistician opened #105 ""could not find function 'strata' " error"
I'm seeing

[code]

in optmatch 0.9-5.  Manually attaching the survival package to the search path fixes the problem, but of course this shouldn't be necessary.

I do see that
- file `DESCRIPTION.template` lists survival in Depends field, if not in Imports field
- file  `NAMESPACE.static` has a line reading `importFrom(survival, strata)`, which differs from other lines in not quoting its arguments

[2015-08-15 15:36] benthestatistician commented on #105
Assigning to you, @markmfredrickson, since you touched the above two lines most recently.

[2015-08-15 15:41] benthestatistician commented on #69
It appears that this has been fixed (probably a while back):
[code]
Indicating that if you exact match on `pt` and `bw`, there's a subclass w/o treatment group members.  However, no warning here:
[code]

 @josherrickson, could you confirm that I'm not missing something, and close?

[2015-08-15 15:44] benthestatistician commented on #30
This is currently in release, accessible w/ options `method="rankmahalanobis"`.  Closing.

[2015-08-15 15:44] #30 closed

[2015-08-15 15:58] benthestatistician commented on #68
I'm not sure overriding `c()` is the way to go, partly b/c `c()` doesn't do anything helpful for factors:
[code]
Perhaps we should reduce our sights from handling this operation with a single nifty command...

[2015-08-15 15:59] benthestatistician commented on #68
Alternate proposal: provide methods to coerce optmatch objects to and from data frames, along with examples showing how to use them to merge optmatch objects.

The data frames that optmatch objects get converted to might contain both the original optmatch object as-is, and additional columns for: the treatment variable, exact matching variables used in the match, etc.   Perhaps there could be spec

[2015-08-16 00:00] markmfredrickson commented on #105
Grr. I thought depending brought strata into the user's search path.
On Aug 15, 2015 10:36 AM, "Ben" <notifications@github.com> wrote:

[2015-08-18 02:20] josherrickson commented on #69
There does not appear to be a warning here, but your output doesn't look correct Ben.

With the latest master, I get the following

        H     I     A     J     B     K     L     M     C     N     O     P     Q
    0.0.7 0.0.2 0.0.1 0.0.1 0.0.2 0.0.4 0.0.3 0.0.4 0.0.3  <NA> 0.0.4 0.0.7 0.0.4
        R     S     T     U     D     V     E     W     F     X     G     Y     Z
    0.0.5  <NA> 0.0.7

[2015-08-18 15:22] benthestatistician commented on #105
Hmm, Now I'm finding that I can't reproduce the problem; I'm getting:
[code]
As @markmfredrickson would have expected.

Conjecture as to what happened when I filed the bug: I had started my session and done `library(optmatch)`, then checked and realized I was using optmatch 0.9-3, and so updated to 0.9-5 and reloaded.  Somewhere in this sequence i suspect the survival dependency wasn't properly re

[2015-08-18 15:27] benthestatistician commented on #69
Good points, Josh. I think I inadvertently had optmatch 0.9-3 loaded instead of 0.9-5, with the consequence that the inclusion of `strata(pt,bw)` in the formula was adding `interaction(pt,bw)` to the Mahalanobis distance, rather than enforcing exact matching on them. When I rerun at the same machine but being sure to load optmatch 0.9-5, my output matches yours.

Closing, as I take it Josh has no

[2015-08-18 15:27] #69 closed

[2015-09-07 01:46] benthestatistician commented on #104
Speaking of gaps in testing, in optmatch 0.9-5 the below fails, as discussed in comments to #103:
[code]
Noting this here in interests of getting this into testing suite.

[2015-09-07 01:46] benthestatistician commented on #103
I'm afraid we've introduced a bug into version 0.9-5 with our hacking on the terms object, namely that a `fill.NAs` usage we feature in the help page fails with factor variables:
[code]
the problem being that we simultaneously have
[code]
and
[code]
In the immediate term, it would fix the problem either to circumvent the factor expansion in the data frame created by `fill.NAs` or to adjust the ter

[2015-09-07 14:25] benthestatistician commented on #104
Another something to include in testing suite: check that `sandwich:::estfun.glm` generates estimating functions corresponding to generated .NA columns as well as columns present in original data frame, and in general that the new `fill.NAs` plays nicely with bread and meat utility functions in the sandwich package.   (In this regard it might be helpful to set up a new na.action and corresponding

[2015-11-25 12:10] josherrickson commented on #96
Just posting a bit of sample code for an problem I ran into, in case anyone comes across this issue with the same problem.

If you have a match as a column in a data.frame, and subset the entire data.frame, you can't pass `drop=TRUE` into the whole data.frame and expect it to work. You have to `drop` on the actual optmatch object. I suppose that should have been obvious to me, but it took me a min

[2015-11-25 17:21] benthestatistician commented on #96
I wondered if maybe changing to the `[.optmatch` default from `drop=FALSE` to `drop=TRUE`, as considered earlier in this thread, would fix the problem Mark reports.  So I tried it out.  Unless I've made a scoping mistake, the answer appears to be no, that wouldn't fix the problem, as seen in the attached.

To conclusively rule out the possibility of a scoping problem, one would want to test these

[2015-12-02 20:05] josherrickson commented on #96
This is related to [Issue 1 in optmatchExperimental](https://github.com/markmfredrickson/optmatchExperimental/issues/1). When using `drop=TRUE`, `matched.distances` attribute is not truncated appropriately.

    [1] 10

    [1] 10

    [1] 2

    [1] 10

    [1] 10

    [1] 10

This caused a speed issue related to `mlm` in the issue I linked above. I'm not sure if this is something we want to over

[2015-12-02 20:50] benthestatistician commented on #57
Original version of issue raised the possibility of making fullmatch's matched.distances calculation optional. Now I think we should just get rid of it. Revising issue statement according.

[2015-12-02 21:20] benthestatistician opened #106 "update `summary.optmatch`'s matched.distances handling"
1.  Check for "matched.distances" attribute, and when not found just omit this aspect of report.
2.  Add a new argument "xbal.control", or something along those lines, either NULL (default) or a list of arguments to be passed to `xBalance`.  (Replacing what's currently in the ...)
3.  Remove "propensity.model" argument. Instead, accept fitted models and other things in the ... slot.
4.  For any ob

[2015-12-02 21:42] benthestatistician opened #107 "`[.optmatch` should drop matched distances attribute"
Whenever we subset an optmatch object, simply get rid of any "matched.distances" attribute.  This will circumvent some [mysterious performance hits when working with large optmatch objects](https://github.com/markmfredrickson/optmatchExperimental/issues/1).

Let's do this **after** #106, or at least the part of it saying to make `summary.optmatch` robust to the optmatch object's not having a match

[2015-12-03 15:49] josherrickson commented on #106
Completed.

[2015-12-03 15:49] josherrickson commented on #106
Closed by mistake. 1. is complete. Remainder is open.

[2015-12-03 15:49] josherrickson commented on #57
Completed.

[2015-12-03 15:49] #57 closed

[2015-12-03 15:50] josherrickson commented on #107
Completed.

[2015-12-03 15:50] #107 closed

[2015-12-04 12:26] josherrickson opened #108 "check if commented out old tests are still needed/should pass"
In working on getting devtools running, I came across a few older tests (from the tests that I converted to testthat) which I couldn't get to pass.

Since they're older and in the interest of moving forward, I commented them out. Mark, can you take a look and see whether any of them should still pass?

84ccc2e0

[2015-12-10 12:09] josherrickson commented on #103
Added a test and addressed the bug in f125294.

It introduced a failing test related to the `specials` attribute of the terms of a fill.NA'd object, but otherwise runs the strata bits fine.

[2015-12-12 20:18] benthestatistician commented on #108
I agree with @josherrickson's call in each case. Thanks, J. Closing.

[2015-12-12 20:18] #108 closed

[2015-12-12 20:39] benthestatistician commented on #103
Good to have that bug squashed. I'd like to have the specials attribute fixed up too, but it's not urgent.  @josherrickson, does the failing test reflect that you worked on it and couldn't get it to go, or just that this was your stopping point (a reasonable one) for the time being?

[2015-12-12 21:55] josherrickson commented on #103
The latter more than the former. I looked at it for a few minutes, but since it wasn't show-stopping in most cases, I de-prioritized.

[2015-12-14 14:51] josherrickson commented on #89
The shortcourse we taught showed me the need for a specific vignette addressing this, 0263d699 introduces a basic version. It may need to be cleaned up, but the idea exists. Whenever we push the next version up to CRAN, this should appear on our CRAN page.

[2015-12-14 14:51] #89 closed

[2015-12-14 16:09] benthestatistician commented on #89
Terrific! thanks, @josherrickson.

On Mon, Dec 14, 2015 at 9:51 AM, Josh Errickson <notifications@github.com>
wrote:

[2015-12-15 17:17] markmfredrickson opened #109 "Explain `caliper` scale better in the docs."
A user pointed out that the default value of `width = 1` in the caliper function is indicative of an SD scale on the variable used to create the distance matrix. This default should probably be removed to avoid this suggestion, as caliper has to work on the distance scale. A note should be included pointing users to the `match_on` function, which works on the SD scale by default for GLMS and can b

[2015-12-16 16:22] benthestatistician commented on #109
I agree with both proposals (remove default caliper width, add
documentation cross-ref to `match_on`, which some users won't be explicitly
invoking).

On Tue, Dec 15, 2015 at 12:21 PM, Mark Fredrickson <notifications@github.com

[2015-12-17 22:23] josherrickson commented on #98
This is no longer an issue with the switch to devtools.

[2015-12-17 22:23] #98 closed

[2015-12-17 22:32] josherrickson commented on #79
I believe this may have been fixed with the combination of 81af8b5c and the move to devtools. @markmfredrickson can you confirm?

[2015-12-17 22:38] markmfredrickson commented on #79
Looks like it.

[2015-12-17 22:38] #79 closed

[2015-12-17 22:45] josherrickson commented on #84
With the switch to devtools, this is no longer relevant, and the README has been updated.

[2015-12-17 22:45] #84 closed

[2015-12-19 02:33] benthestatistician commented on #103
Which test is it that was failing for you, @josherrickson ?  The only one that I could find is in `test.fill.NAs.R` (master branch, at f125294) and it passes for me:

[code]
(My working copy isn't presently passing make test, but that appears to have to do with something in the utility functions testing suite or just afterwards.)  Could you cross-check that your test failure wasn't some sort of pa

[2015-12-19 10:50] josherrickson commented on #103
That's the test that fails for me.

[code]

This fails in `make check`, `make test` or running `make-interactive` and then running the test manually.

I just checked with a clean checkout of optmatch and get the same issue.

What does "something in the utility functions testing suite or just afterwards" mean?

[2015-12-22 02:31] benthestatistician commented on #103
My bad - now I'm seeing a failure at the same point.  (Still getting
accustomed to the devtools-based workflow here.)

On Sat, Dec 19, 2015 at 5:50 AM, Josh Errickson <notifications@github.com>
wrote:

[2015-12-22 16:22] benthestatistician commented on #103
Removed "bug" label from this issue, as Josh fixed the bug piece w/  f125294.  The one remaining open bit, about specials, is more nearly a feature than a bug.  (somewhere in between, really -- to be elaborated in a separate comment.)

[2015-12-22 16:30] benthestatistician commented on #103
The `test.fill.NAs.R` check that's currently failing is actually pointing to another issue, which would create undesirable and unexpected behavior when `fill.NAs` is combined w/ `strata`.  I'm hoping to hear from @markmfredrickson about it while plotting appropriate remedies.

the present state of affairs in the master branch is that when the user includes a `strata` call in a formula sent to `fil

[2015-12-23 15:37] benthestatistician commented on #103
In ad3c67f, I was able to make the error go away and (I thought) wrap things up for this issue.  But then I noticed that `glm` errored out when I gave it the the result of a `fill.NAs` call.  As I observed it, the problem seemed to be specific to situations where we've got NAs in a variables we call `strata()` on.  In 802c76c and fdbe1a4, I add tests for this and then comment them out, as I didn't

[2016-02-13 20:01] benthestatistician commented on #64
Reopening.  Pairmatch has a similar issue, which I suspect of being precisely the same problem:

[code]

I suspect that the same fix as was applied to `fullmatch` should work here also. See commit 71c3ffa comment I'm posting there presently.

[2016-02-13 22:12] josherrickson commented on #64
Fixed.

[2016-02-13 22:12] #64 closed

[2016-03-07 22:54] markmfredrickson opened #110 "Update to testthat will cause a spurious failure"
I got the following from Hadley Wickam (an automated message). Basically we just need to replace a test string with the complete error message, not just the first part of the message.

[2016-03-08 01:12] josherrickson commented on #110
It's actually a bit simpler than that. It looks like the current version of testthat has a bug. Basically, the error string being searched for ends with a period. The actual error returned by `fullmatch` doesn't. The current version of testthat doesn't catch it. The new version does. I pushed up a fix.

Of note, this new version of testthat throws a "W" whenever it hits an unexpected warning. We g

[2016-03-12 03:21] benthestatistician commented on #110
1.  If I understand the issue of the "W"s being thrown, it won't arise during the CRAN checks, only during local testing.  If this is correct, then I wouldn't put getting rid of the Ws on par with any of the other issues we have in the queue.
2.  Perhaps the CRAN maintainers would waive through a new optmatch version if we justified it in terms along the lines @josherrickson lays out in his last c

[2016-03-12 03:43] benthestatistician commented on #103
@josherrickson , did you get a chance to look at the problem I noted on this thread back on Dec 23? Given the date it was posted, I wonder if it slipped between the cracks.

[2016-03-14 13:49] josherrickson commented on #103
Sorry, it did.

So, to summarize/clarify the issue, there's a mismatch between the data.frame from a call to `fill.NAs`,

[code]

and the associated terms object:

[code]

`model.matrix` assumes that these are the same. I looked at survival's `strata` a bit for inspiration; they have a version of `model.matrix.coxph` (for example) that just drops the `strata`

[code]

so there's no help there.

It

[2016-03-14 13:54] josherrickson commented on #103
Second comment to not conflate these two thoughts:

I believe @markmfredrickson's work in the branch (discussed in #104) to make `fill.NAs` a class would address this issue nicely, as even if it doesn't directly solve it, it'd be easy to write a wrapper function `model.matrix.fill.NAs` [sidenote: will that extra '.' cause issues? Will R look for a version of `model.matrix.fill` that supports class

[2016-03-14 14:19] josherrickson commented on #110
Open issues aside, I see nothing holding us back (code-wise) from pushing a new version up. All checks/build pass without incidence. We do get one warning when building on windows,

[code]

The NEWS file did not appear to be updated for 0.9-5. Looking through closed issues since then, the large ones are #30 and #57.

[2016-03-14 16:34] markmfredrickson commented on #103
There's no particular time line on the objects work for `fill.NAs`, but if it makes this simpler, makes we can expedite it.

As for the the issue about using periods: the use of `generic.class` functions is just conventional. You still need to indicate which functions are S3 methods in the NAMESPACE file. In other words, feel free to call it what you will.

[2016-03-14 22:02] benthestatistician commented on #103
I'd be interested to hear whether the first of @josherrickson's two easy adjustments (make fill.NAs name its column "strata(s)") breaks existing tests.  If not, then I think I'd be happy to with it (while we wait for the work on #104/fillNAObject branch to resume).

Although I think it'd be a little neater on the whole to have model frame columns with names like "s" rather than "strata(s)", but if

[2016-03-15 17:54] josherrickson commented on #103
While it did address the direct issue, changing the name of the returned column to `strata(s)` did break the glm.

One approach that does address this is to not rely upon `glm` to extract the formula from the data.frame (`res3` in the above examples).

For example,

[code]

Unfortunately, there's no way I can see to force this to occur with the `glm(data.frame)` call. We'd have to document it. Alt

[2016-03-15 20:54] josherrickson commented on #103
Thinking about this a bit further, the method of calling `glm` that's causing this issue has always seemed a bit odd to me. `glm(res3)` is passing a data.frame to `glm`. While I realize this is (generally) possible, I'd be much more likely to write something like

[code]

which runs just fine (and is equivalent to the working code in my previous comment, which is what started me thinking down this

[2016-03-15 21:38] benthestatistician commented on #103
From my perspective it seems like a fine solution to recommend that users
do one of
[code]
or
[code]

, while updating documentation appropriately.  I have no reservations about
that.

@markmfredrickson, do pipe up if you have thoughts on this  If memory
serves, it was originally your suggestion to use the shorter, two-argument
call `glm(res3, family=binomial)`.

On Tue, Mar 15, 2016 at 4:54 PM, J

[2016-03-16 19:30] josherrickson commented on #67
Discussion with Ben offline.

The only cases where this warning should still be appearing are if an ISM (or similar) is passed to `fullmatch` without the data that generated the ISM. In all cases where a formula is passed, I believe that the situation the warning is highlighting will never occur.

@markmfredrickson, can you think of any other situations?

Assuming not, this essentially corresponds

[2016-03-16 19:36] benthestatistician commented on #56
While we're at this, let' fix the problem for `pairmatch` also.

[2016-03-17 10:34] josherrickson commented on #56
Fixed.

No changes to `pairmatch` were necessary as the issue doesn't hit until after `pairmatch` calls `fullmatch`, so we can rely on the check in `fullmatch`.

[2016-03-17 10:34] #56 closed

[2016-03-17 10:50] josherrickson opened #111 "`survival` in Depends vs Imports"
Following [ritools:#56](https://github.com/markmfredrickson/RItools/issues/56), I moved most packages from Depends to Imports.

I was hesitant about moving `survival` over to Depends because we are using it somewhat implicitly rather than explicitly (we never call `strata(...)`, we just use the functionality that the package provides). I did address one issue related to this (manually loading `sur

[2016-03-17 14:10] benthestatistician opened #112 "document recently introduced uses of `strata()`"
- [x] Verify that putting `strata(foo)` into a PS formula now causes `match_on.glm` & company to impose exact matching on `foo`, as inserted into NEWS re v0.9-6 in 66493af.
- [x] Update the passage of the `match_on` docs pertaining to `strata()` to indicate that the exact matching will happen when `match_on` is passed a model that was fitted along with a `strata` term, as well as when the `x` pass

[2016-03-17 14:36] josherrickson commented on #112
Confirming that `strata(foo)` and `exactMatch( y ~ foo)` are equivalent; e.g. [test.match_on.R#531](https://github.com/markmfredrickson/optmatch/blob/master/tests/testthat/test.match_on.R#L531).

[2016-03-17 14:49] josherrickson commented on #111
Replicated the issue. With `survival` in Imports, this errors. With it in Depends (or if you load `survival` manually before running it) this runs fine.

[code]

Moving `survival` back into Depends.

[2016-03-17 14:49] #111 closed

[2016-03-17 15:17] josherrickson commented on #112
Documentation updated.

[2016-03-17 15:17] #112 closed

[2016-03-17 15:56] josherrickson commented on #103
I've updated the documentation & examples.

[2016-03-17 17:05] josherrickson commented on #63
I played around with this for a few minutes to see if I could get something into this release we're working on.

Differentiating between `m[1:10]` and `m[1:10,]` is tricky. The signature for `[` requires `x`, `i`, `j` and `drop`. Both versions above have `j = NULL`. I can't figure out another way to tell whether we're in `[x]` or `[x,]`. I've been trying to see R's `[` implementation but have had

[2016-03-17 18:10] josherrickson commented on #67
Per my last comment, this warning now only appears for matrices, ISMs and optmatch.dlist objects.

Ultimately, this doesn't address the issue of ~100 warnings popping up during `devtools::test()`.

[2016-03-17 21:33] benthestatistician opened #113 "Enable varwidth option for boxplot methods"
User-facing UI for our boxplot methods suggests that they default to `varwidth=TRUE`, which they don't.  Passing a `varwidth=TRUE` doesn't help either.  It looks like a simple developer oversight in the code....

[2016-03-18 02:32] benthestatistician commented on #113
Maybe 0a93ea0 suffices to fix the problem.  Remains to check that.

[2016-03-18 17:58] markmfredrickson commented on #67
The decision on warnings makes sense. The purpose here is to let people know that things like bare matrices/ISMs/etc. could return a vector in an arbitrary order. If we get the implicit data from the environment, we have the proper order.

[2016-03-18 18:03] markmfredrickson commented on #103
I'm also happy with the change. The reason for the two argument version was
to allow direct calls like `glm(fill.NAs(z ~ x1 + x2, data = data), family
= binomial)`. With the current issues, this may not be possible any longer,
but that might be a small price to pay. If the "fill.NAs as objects" branch
moves along, we may be able to recapture the simpler version.

On Thu, Mar 17, 2016 at 10:56 AM,

[2016-03-18 19:17] benthestatistician commented on #103
I think we've all signed off now.  @josherrickson, please don't hold off making any remaining changes in order to close this out.

[2016-03-18 22:16] benthestatistician commented on #103
Re @markmfredrickson's comments: Now that (if I'm not mistaken) `scores` and `match_on.glm`/`match_on.bigglm` et al. scan their first argument for NAs, applying `fill.NAs()` and then refitting in the event that NAs are found, greasing the wheels for users to invoke `fill.NAs` directly feels a little less pressing.

That said, I'm also eager to see what comes of the the fill.NAs as objects -branch,

[2016-03-19 00:22] josherrickson commented on #103
I believe this issue to be closed then. The call to `glm(fill.NA's...` may or may not work, but I changed all documentation/examples that I could find to the new version.

[2016-03-19 00:22] #103 closed

[2016-03-22 17:45] josherrickson commented on #67
I believe this issue is closable.

[2016-03-22 17:45] #67 closed

[2016-03-23 18:14] josherrickson commented on #113
I code-reviewed this. Per offline discussion with Ben, we're not going to add formal unit tests at this time.

[2016-03-23 18:14] #113 closed

[2016-03-29 15:42] josherrickson commented on #110
I've been slowly going through the various warnings in the test files and cleaning them up over the last week or so, and [b0e2894](https://github.com/markmfredrickson/optmatch/commit/b0e289411396894efbc045901a23642056d45439?w=1) contains my results. With the latest version of `testthat` from github (updated today, 3/29/16, via `devtools::install_github("hadley/testthat")`, all tests pass with no w

[2016-03-29 15:42] #110 closed

[2016-04-19 02:38] benthestatistician opened #114 "informative error/warning for calls to `caliper` within `match_on.formula`'s formula argument"
I heard from a user who was frustrated about the following not working for him:
[code]
This seems a natural thing for the user to try.  We might look for it and steer them toward imposing the caliper onto an ISM to be passed as via the within argument.

[2016-04-19 12:12] josherrickson commented on #114
How's this?

[code]

I'm not sure if the 2nd line there is more helpful than potentially confusing. Perhaps drop it and have a quick reference in the `fullmatch` and  `pairmatch` documentation?

I considered trying to handle the `caliper` call in the formula, but it doesn't even really make sense, so I'm not sure we should train users to do that.

[2016-04-19 13:30] benthestatistician commented on #114
I think that's great, @josherrickson. +1 !

I think the second line is more likely to be helpful that not.  I'd keep it, and leave out the docs refs: it's natural to go check the docs if you're still confused, and it's not like our docs are all that great. I agree about not trying to handle `caliper` calls within those formulas.

An adjustment to consider, but only if the adjustment is small and e

[2016-04-19 14:01] josherrickson commented on #114
New version:

[code]

Closing.

[2016-04-19 14:01] #114 closed

[2016-04-19 15:09] josherrickson opened #115 "strata with . in formula"
There's an issue thats arising with `.` in a formula that also includes a `strata()` call.

[code]

This seems familiar, but I couldn't find an existing issue.

It comes from what appears to be a bug in `update.formula`,
[code]

where the `data` argument isn't being passed down to an internal `terms.formula` call.

I can't figure out a way around this bug. Perhaps we try to catch the existence of

[2016-04-19 15:58] benthestatistician commented on #115
Good catch, Josh.  I vote for the informative error solution.

On Tue, Apr 19, 2016 at 11:09 AM, Josh Errickson <notifications@github.com>
wrote:

[2016-04-19 15:59] benthestatistician commented on #114
Great!

On Tue, Apr 19, 2016 at 10:01 AM, Josh Errickson <notifications@github.com>
wrote:

[2016-04-19 16:30] benthestatistician commented on #109
Related comment from a user:

[2016-04-22 21:34] benthestatistician opened #116 "Should `pairmatch` replace infeasible subproblems with feasible ones?"
Given a subclass with 3 treatments and 2 controls, `pairmatch` quits with an error. Even if you pass it the `remove.unmatchables=TRUE` flag. Maybe in the latter circumstance it should try to create 2 pairs, leaving one treatment group member unmatched, only quitting with an error if that can't be done given the constraints embedded in the distance.

[2016-04-25 16:55] benthestatistician commented on #116
(Noting that this functionality would have been useful to @andy-zack.  We won't be able to do anything with it in time to be of use to him on that project, but perhaps future progress on this question would interest him anyway.)

[2016-04-25 23:47] josherrickson commented on #116
I looked into this a bit.

I think the issue is actually in `fullmatch`, not `pairmatch`. Inside `.fullmatch.with.recovery`, if fullmatch with the original `max.controls` and `min.controls` fails, we fall back to trying with the same `min.controls` but `max.controls = Inf`.

This means that we get the following:

[code]
I believe it was a design choice to never drop treatment group members unless

[2016-04-26 03:04] benthestatistician commented on #116
Thanks, @josherrickson .  More comments:

1.  You're right that not dropping treatment group members unless unmatchable was a design choice.  I'd like to revisit it.  The motivation for that choice came from thinking about single stratum problems; in multi-stratum problems it seems that one can lose a lot of treatment group members this way, and currently there's no direct way of limiting that los

[2016-05-07 09:13] benthestatistician commented on #116
In earlier versions of optmatch that supported `fullmatch` with a negative "omit.controls" argument, one could write `omit.controls=-.5` to mean "match all of the controls to half of the treatment group."  We're not supporting that at the moment (cf #77), but if we were to re-enable such support then we could get the feature described in this issue after a few straightforward modifications of `pai

[2016-05-07 23:02] benthestatistician commented on #116
Notes: It looks as though `fullmatch` without infeasibility recovery is set up to handle negative omit.fractions, or almost set up for it. It doesn't look like the version with infeasibility recovery is arranged to be able to handle this, however.

[2016-07-24 18:12] josherrickson opened #118 "`summary.optmatch` crashes when missing `subproblem`"
Right now, if an `optmatch` object loses its `subproblem` attribute, `summary.optmatch` fails.

[code]

`stratumStructure` works, but can have a less than desirable output:

[code]
It seems to me that it would be better to warn that there's no subproblem, and display results assuming there's only one subproblem. Something like replacing

[code]

in summary.optmatch.R with

[code]

Opening for comm

[2016-10-03 19:54] josherrickson opened #119 "Rcpp code modified automatically"
Running check or test (or build or document), R is modifying two files, R/RcppExports.R and src/RcppExports.cpp. Diff log below. It seems harmless (comments modifed and variables renamed), but would prefer @markmfredrickson or @nullsatz to confirm before I check in the changes. I believe I updated Rcpp package recently, so might be related to that, but I don't see anything in Rcpp's changelog.

[c

[2016-10-03 20:18] #118 closed

[2016-10-03 20:30] #115 closed

[2016-10-09 00:31] fsavje opened #120 "`fullmatch()` doesn't dispatch properly in Rscript sessions"
I cannot get optmatch to work properly with Rscript. The code works excellent in interactive mode, but whenever ran in batch mode, it complains that my input is invalid. The following code replicates the error:

[code]

Now if I run this interactively, as follows, it works fine:

[code]

However, when I run exactly the same with Rscript, it complains:

[code]

I'm running R version 3.3.1 with optm

[2016-10-09 19:39] benthestatistician commented on #120
I can reproduce the issue on my setup (R 3.2.3 ; x86_64-apple-darwin15.3.0 ; optmatch_0.9-6).  For some reason `fullmatch()` isn't dispatching properly in the Rscript session.

My "test_opt2.R", as follows, also kills Rscript but runs fine in an interactive session:

[code]

Rscript gives

[code]

whereas when I `source()` the file interactively, it runs fine. Interesting, the following both also

[2016-10-09 20:21] fsavje commented on #120
@benthestatistician Thank you, I think that will work for my purposes. No worries with the example, I'm happy that I could help.

[2016-10-10 18:18] josherrickson commented on #120
Debugging this a bit. Going to drop notes as I go in case I get busy and someone else picks up the ball.

When run interactively, the chain of calls goes:

`fullmatch` -> `fullmatch.default` -> `fullmatch` -> `fullmatch.matrix`

The first arrow is dispatching the original `fullmatch` call on the formula argument, and we don't define `fullmatch.formula`.

The second arrow is a fresh version of `ful

[2016-10-10 18:19] josherrickson commented on #120
PS thank you for such a detailed report @fsavje!

[2016-10-10 18:20] josherrickson commented on #119
I pushed up these changes as they were irritating my debugging of another issue and still seem innocuous, but leaving this open for second opinion.

[2016-10-10 18:25] josherrickson commented on #120
Here's some debug output. This output all comes immediately after entering `fullmatch.default`:

[code]

Obviously that last line is the big issue. For some reason, while in Rscript, `DenseMatrix` is not properly inheriting (or things aren't properly dispatching down to) `matrix`.

[2016-10-10 18:32] nullsatz commented on #119
I agree, the changes look harmless.

On Mon, Oct 10, 2016 at 2:20 PM, Josh Errickson <notifications@github.com>
wrote:

[2016-10-10 18:33] josherrickson commented on #119
Thanks. Closing.

[2016-10-10 18:33] #119 closed

[2016-10-10 18:47] josherrickson commented on #120
[code]

Some oddity with `is` vs `inherits`. Changing the error check to use `is` instead of `inherits` moves past that stopping point, but it still fails to properly dispatch, eventually trying to call `match_on.DenseMatrix` and failing to (again) properly dispatch to `match_on.matrix`.

[2016-12-12 21:57] benthestatistician opened #121 "`CBPS` method for `match_on`"
I heard from users who tried to call `fullmatch` on a [CBPS](https://cran.r-project.org/package=CBPS) (Covariate Balancing Propensity Score, a la Imai and Ratcovic [2014]).  They found it feasible, but with a bit of doing; see forwarded message in comment below.  The description of their workaround suggests that it ought to be possible to encode these steps in `fullmatch.CBPS` and/or `pairmatch.CB

[2016-12-12 22:01] benthestatistician commented on #121
Here's that user email:

encountered some problems when we attempted to use CBPS (R program by Imai and
colleagues) to arrive a propensity scores.  Here we found that fall match would
not accept the CBPS results as it would the glm results.  We had to take two
additional steps.

as follows.

[code]

This step was necessary even for the nuclearplants dataset.

Second, once we went beyond nuclearpla

[2016-12-14 04:18] benthestatistician commented on #121
Here's an example of the procedure this issue would simplify. (From Russell Localio, with minor adjustments.)

[code]

[2016-12-14 17:25] benthestatistician commented on #121
Notes:

1.  After re-familiarizing myself with the _current_ architecture of optmatch, I think the task is just to write a `match_on` method. Shouldn't also need `fullmatch` and/or `pairmatch` methods, as issue statement now suggests.  (I'll update the issue title after posting this.)
2. That `match_on` method could just wrap to `match_on.glm` after adding in a `linear.predictor` slot to the "CBPS

[2016-12-15 14:04] josherrickson commented on #121
The technical reason this doesn't work out of the box (ignoring the check for `linear.predictor` at the beginning of `match_on.glm`) is that `predict(CBPS(...))` returns `NULL`, which is breaking `scores`.

Perhaps the lightest touch to the code would therefore be to add a special case for `CBPS` to `scores`? Such a special case already exists for `bigglm`.<sup>1</sup>

I think we'd just need to r

[2016-12-16 21:27] benthestatistician commented on #121
How about we just introduce our own `predict.CBPS`?  We wouldn't have to export it.

[2016-12-18 13:13] josherrickson commented on #121
That would indeed be an even lighter touch. We should still build in future-proofing I think, similar to my code snippet above.

[2016-12-19 18:54] benthestatistician commented on #121
The future-proofing is clever, but to my mind it introduces a source of irreproducibility into code scripts.   If the `CBPS` group should introduce a `predict` method for `CBPS`'s, then people who update `CBPS` will suddenly start getting different results out of optmatch.  If they updated their optmatch at the same time, e.g. in the midst of an update to a newer version of R itself, then it will

[2016-12-20 21:18] josherrickson commented on #121
I've committed a [branch](https://github.com/markmfredrickson/optmatch/tree/cbps) with a basic version of this implemented. @benthestatistician feel free to jump in and update as necessary. It's very bare-bones right now.

I explicitly did not use `predict.CBPS` to avoid some errors I was getting. I did not include any future proofing.

[2016-12-23 04:36] benthestatistician commented on #77
At present, negative omit.fractions are being interpreted the same as positive ones.

[code]

In other words, we're not supporting them properly.   Looking at the fullmatch.R code, I suspect that there's some confusion going at and just prior to the handoff to `SubDivStrat`.  The idea of the original version of `SubDivStrat` was that a subproblem with a negative omit.fraction value would "transpos

[2016-12-23 12:17] josherrickson commented on #121
I did some testing by giving CBPS a `predict.CBPS` method, and saw no issues if we likewise call our function `predict.CBPS` and don't export it.

Just calling `predict(CBPS)` inside `scores` automatically calls our `optmatch:::predict.CBPS` regardless of the existence of `CBPS::predict.CBPS`. This means that if CBPS implements predict, we need only remove our version without touching `scores`.

D

[2016-12-23 12:30] josherrickson commented on #121
Merged CBPS branch back into master. I think this is all set unless @benthestatistician wants to add the warning I mused about in my last comment.

[2016-12-23 16:20] benthestatistician commented on #121
If CBPS were to implement a `predict` method, before we started using it I'd want to know that they and/or we had considered its appropriateness for use in matching, as opposed to some other context.  (Recall that CBPS is a package for propensity weighting, not propensity matching.)

Nice work, @josherrickson.  Thanks for touching up my `plogis` call.

[2016-12-24 15:54] benthestatistician commented on #121
`predict.glm` has an argument `type=c("link", "response", "terms")`.  On reflection I think `predict.CBPS` should have something similar, `type=c("link", "response")`.  The default, "link", would return what's returned now, whereas giving `type="response"` would return the `fitted.values` of the provided CBPS object.  This would give users a mechanism for overriding the optmatch default of logit-s

[2016-12-24 17:16] #121 closed

[2016-12-26 19:50] markmfredrickson commented on #109
I added a paragraph about caliper working on the distance scale. It addresses the second question (about stratified matching) in that it explicitly states that SDs are not computed/used.

It is a more subtle point that using the `within` argument to `match_on` to create a stratified match also will not use within strata SDs. I've added some notes to the glm and formula methods on this point.

[2016-12-26 19:50] #109 closed

[2017-01-13 17:35] jwbowers opened #122 "Warning in exactMatch"
On one particular analysis I'm running into this warning (from `makedist`). And I haven't figured it out. Any ideas? (Code to replicate below)

## Code

[code]

## Output

[code]

[2017-01-26 18:21] josherrickson opened #123 "NAs not allowed in treatment indicator"
I thought this was an issue we'd discussed before but I don't see anything in the queue.

Is there a reason for disallowing NAs in the treatment vector?

[code]

It seems to me that more natural behavior would be to return a match object which reports the NA treatment members as unmatchable.

This comes up because I had a client trying to do matching in Stata. I convinced her to pop the data over

[2017-01-26 20:09] markmfredrickson commented on #123
Having the match be NA seems like a very reasonable action. We'd
effectively be doing what you did, just under the hood.

On Thu, Jan 26, 2017 at 12:21 PM, Josh Errickson <notifications@github.com>
wrote:

[2017-01-26 22:37] benthestatistician commented on #123
I agree.  But let me think about it overnight; maybe something else will come to mind.  I recall thinking about this before.  I think I may have come to a similar conclusion but not gotten around to acting on it.  If I don't chime in here again by tomorrow, then that silence implies consent.

[2017-02-21 15:00] markmfredrickson opened #124 "Better treatment indicator handling, NA values in `match_on.formula`"
Colin Hubbard sent in a bug report based on the following:

[code]

At least as a work around, it would make sense to be able to set up an indicator variable, but that fails with NA values in the distances:
[code]
I conjecture that the NA is due to the degenerate case of having only one treated unit, which makes the SD calculation fail when computing the SD of the treated group, but this is worth

[2017-02-21 17:58] markmfredrickson commented on #124
I believe my conjecture was right. Including a second treated unit is sufficient to get a valid match. Then the workaround gets the right answer:
[code]

[2017-02-21 17:59] benthestatistician commented on #124
Interesting. Thanks to Colin Hubbard for the tip.

I did a recover() on the example, here's what I'm seeing inside of ` makedist(z, data, compute_mahalanobis, within)`, the immediate parent of the failing call to `toZ()`:

[code]

This seemed to me to suggests the error may be somewhere different from where @markmfredrickson was thinking.  (But then Mark's last post popped up 15 seconds ago, so ma

[2017-02-21 18:24] josherrickson commented on #124
[code]

[code]

[2017-02-21 18:26] markmfredrickson commented on #124
@josherrickson is correct. See 4955bb9 for my changes to that line of code.

[2017-02-21 18:28] josherrickson commented on #124
@markmfredrickson Might it not be better to enforce that numeric treatment vectors be 0/1? Either that or make it clear in the documentation that with other values we assume the lower is control.

[2017-02-21 20:20] benthestatistician commented on #124
Interesting point by @josherrickson .  If Colin Hubbard is watching, I'd appreciate hearing about his usage scenario.

Ordinarily I'd think that if some level of dose other than 0 were to serve as a control condition it would be best to have the function insist that that level be explicitly specified.   Otherwise you might find that adding or removing a single observation totally changes the match

[2017-04-05 14:01] benthestatistician commented on #123
Follow-up to previous comment: no reasons for hold back having occurred to me, I'm in favor of implementing the change @josherrickson proposes, to weed out observations with NAs in the treatment vector.

[2017-04-05 14:11] benthestatistician opened #125 "test/warning inconsistency re max_problem_size option"
In R/fmatch.R, definition of internal function`fmatch`, we have
[code]
Meanwhile, tests/testthat/test.feasible.R seems to assume that infinite matched problem sizes won't work.
[code]
which one is it?

[2017-04-05 14:41] benthestatistician opened #126 "tidy up warnings & errors related to subproblems that are too large"
- [x] the `fmatch` error message should round its description of the overage to two sigfigs
- [x] move hints re max_problem_size option to somewhere in the docs, perhaps `getMaxProblemSize` docs, & replace w/ a pointer to those docs.
- [x] In `makedist` warning message, say that `match_on` has been asked to compute something too big, rather than "I".
- [x] In `makedist` warning message, revise "to

[2017-04-05 15:02] benthestatistician commented on #68
@josherrickson do you have thoughts or suggestions regarding the last proposal I made on this thread (20 months ago now)?

Thinking of this after email I copied you on from Mike Baiocchi and Joe Rigdon, who want to stitch together matching results after farming out subproblems to different nodes of a cluster.  If we could wrap this discussion up into a clear set of next steps, then one of us (or t

[2017-04-21 17:24] josherrickson opened #127 "register native routines"
The new version of R requires registering native routines. See https://stackoverflow.com/questions/42313373/r-cmd-check-note-found-no-calls-to-r-registerroutines-r-usedynamicsymbols

I've implemented this (commit forthcoming), but wanted to run it by @markmfredrickson and @nullsatz. With the changes I've made, it compiles on Rdevel (which is destined to become 3.5) without note or warning.

[2017-04-21 17:25] josherrickson commented on #127
See commit 666203d0.

[2017-06-15 14:17] benthestatistician commented on #76
Adam Rauh (@adamrauh) is working on this problem now (summer 2017), on a separate fork of the hinting branch.

As I see it, the next things we need are:

1. An object type in which to store "reduced costs" from a solved matching problem, but on a scale corresponding to the original, double-precision matching distance, rather than on the integer scale of "arc costs" (that `SubDivStrat` transform ma

[2017-06-23 02:53] benthestatistician commented on #76
Correction to prev comment: reduced costs associate w/ arcs, not nodes.  See [definition](http://web.mit.edu/dimitrib/www/netbook_Full_Book.pdf#page=237) in Bertsekas's book, along with [explanation of how arcs' reduced costs classify the arcs as inactive, balanced or active](http://web.mit.edu/dimitrib/www/netbook_Full_Book.pdf#page=227) depending as they are inactive, balanced or active.

Thus t

[2017-06-28 20:15] benthestatistician commented on #76
Update: We decided today that the next milestone to work toward is a version of SubDivStrat that optionally accepts one or more arguments recording reduced costs in double precision, and always returns double precision reduced costs.  In both cases, this information might be carried in one or several InfinitySparseMatrix'es (ISMs).

(By using several ISMs, there could be one of precisely the dimen

[2017-06-29 15:17] benthestatistician commented on #76
[hinting ae9b6b0] does three things: pulls updates on master over the last 18 months or so into the hinting branch; adjusts`fmatch` to set the ["stablity increment"](http://dept.stat.lsa.umich.edu/~bbh/hansenKlopfer2006.pdf#page=15) explicitly, and implements a minimal change to get fmatch to pass up the reduced costs. Passes `devtools::test()` but not `devtools::check()`, but I suspect the latter

[2017-07-06 17:19] benthestatistician commented on #122
I think this warning may be flagging a bug.  It's being thrown at [this line of makedist.R](https://github.com/markmfredrickson/optmatch/blob/master/R/makedist.R#L98), i.e.

[code]

In the provided example, I get
[code]
so something's gone wrong.  Barring an explanation as to why this should be innocuous, I'm flagging this as a bug.

Additional comments:
1. Example is big, takes a minute or two to

[2017-07-06 17:41] benthestatistician commented on #122
Update: the problem is specific to the `rank_mahalanobis` method, which appears to be generating distances of incorrect length.

    Warning message:
    In replace(within, 1:length(within), dists) :
    number of items to replace is not a multiple of replacement length

[2017-07-06 17:59] benthestatistician opened #128 "`compute_rank_mahalanobis` ignores index argument"
...in the event that there's an exact matching constraint in force. The function presently computes and returns a distance for each treatment/control combination, even when provided a list of specific treatment-control matching possibilities for which a distances is needed.

to do's:

- [ ] If possible, fix it in compute_rank_mahananobis
- [x] If not possible, workaround on R side
- [x] Add a test

[2017-07-06 17:59] benthestatistician commented on #128
In the example in #122 , we have

    [1] 4889857

whereas `compute_rank_mahalanobis` has give a result of length

   [1] 22887076

matching the product of the overall number of rows and columns.

   [1]  2252 10163

[2017-07-06 18:09] benthestatistician commented on #122
The resolution of the issue appears to be that this particular warning should have been an error.  Hopefully to stop being an error soon -- see #128 . Closing.

[2017-07-06 18:09] #122 closed

[2017-07-06 19:26] benthestatistician commented on #128
@jwbowers since you've caught the rank_mahalanobis bug, would you be willing to help out w/ writing of test cases?

I figured I'd start by writing out some tests where you do a rank_mahalanobis calculation by pre-computing the ranks in R, then applying ordinary Mahalanobis. That led me to try the following, which does not work, but which is more likely to represent a misunderstanding on my part of

[2017-07-07 17:51] benthestatistician opened #129 "subproblems/subdim inconsistency"
It can happen that `findSubproblems` filters out a subproblem, due it all of its distances being Inf, whereas subdim sees that subproblem as legitimate, due to there being positive numbers of treatment and control subjects in it. This throws a warning inside of `fullmatch.matrix`, here:

[code]

[2017-07-07 18:03] benthestatistician commented on #129
The warning in itself is easy to fix, going to something like

[code]
I.e., make sure `subdim` doesn't see the subproblems that `subproblems` has already deemed ignorable.

But there's another call to subdim a few lines following:

[code]
 Should it get touched up in the same way?

[2017-07-07 18:05] benthestatistician commented on #129
Any thoughts, @markmfredrickson @josherrickson ?  (Wasn't so easy for me to track down which of you had written the relevant code; it was certainly a while back.)

[2017-07-07 19:17] benthestatistician commented on #129
Started a topic branch, issue129, for further work on this.  Good chance that what's there now can be pulled in more or less immediately, but there's an indirect relationship to another point I'd like to hear from Mark on (see comment to [master 403b9278]), so I think I'll post a merge request to him too.

[2017-07-08 20:49] benthestatistician commented on #128
In tests/testthat/test.rank.mahal.R, `compute_rank_mahalanobis` is tested against the rank Mahalanobis function that Rosenbaum has posted to his site. I confirmed that their results match up in this example also, even as they differ from those of `compute_mahalanobis`.

The likely cause of the  difference is underlying differences in how the covariance is being computed.  optmatch has always calcu

[2017-07-10 06:19] adamrauh commented on #76
Working on implementing the process of constructing node prices using reduced and original costs as a separate function, which I will call within fmatch. I believe we determined that node prices would eventually be an optional parameter to subDivStrat (as opposed to reduced costs) which would then be converted and manipulated as necessary, before being passed to fmatch, again via a new optional ar

[2017-07-10 13:31] benthestatistician commented on #76
@adamrauh the reduced costs will work out in such a way that you get the same answer either way.  If not, there's a mistake somewhere.  (If you see an issue like this, check your work, and if it persists then do share on this thread the smallest self-contained example of it that you can find.)

[2017-07-10 22:12] benthestatistician commented on #123
@josherrickson if you're willing to implement this, please do! If not, or if not now, please don't hesitate to unassign yourself and reassign to me.

[2017-07-10 22:20] benthestatistician commented on #120
Could the problem here be as simple as not loading the matrix package explicitly during the Rscript session?  Per Wickham's _Advanced R_, "OO Field Guide":

[2017-07-10 22:37] benthestatistician commented on #120
Hmm, with R version 3.4.0, optmatch version 0.9.7, I can no longer reproduce the problem using @josherrickson's above `test_opt2.R`.

On another computer, running R version 3.2.4 + optmatch version 0.9.6, test_opt2.R reproduces the problem, but the problem is also circumvented by adding an explicit `library(methods)` to the top of the file.

I think this solves the problem: @fsavje , if you're sti

[2017-07-10 22:37] #120 closed

[2017-07-10 23:52] fsavje commented on #120
@benthestatistician Great, thanks! I can confirm that there's no error when using R 3.4.0 and optmatch 0.9.7. (Haven't tested the `library(methods)` route.)

[2017-07-11 13:04] josherrickson commented on #123
Sure, I can work on this. Seems to me this could be done in conjunction with the last comments in #124, enforcing treatment as binary (+ `NA`). To avoid re-opening that issue, @benthestatistician , do you want to proceed with that route? Either strictly (error if something besides 0/1 or logical or "0"/"1") or with an informative warning ("Assuming __ is the level of the control group, redefine tr

[2017-07-11 13:38] benthestatistician commented on #124
I agree with @josherrickson, with the amendments that:

1.  I'd propose that the coercion mechanism applied to numeric Z's be `function(x) {x>0}`, rather than `as.logical`.
2. The condition that we enforce be that there has to be at least one <= 0 entry and at least one >= 0.

[2017-07-11 13:45] benthestatistician commented on #124
Not clearly germane to the issue at hand, but if anyone understood why this errored out

    Error in s$solution : $ operator is invalid for atomic vectors

but this did not --

--  I'd be interested to know.   (Also your thoughts about fixability, if any.)

[2017-07-11 13:47] benthestatistician commented on #123
As you'll see from my comments on the #124 thread, I think we'd serve our users a bit better by permitting non-binary numerics, provided that they unambiguously identify a treatment and a control.   I think there can be strict errors when this condition isn't met.

[2017-07-11 13:51] josherrickson commented on #124
I don't see that error.

[code]

[2017-07-11 13:51] josherrickson commented on #124
@benthestatistician Are you implying that `c(0, 1, 2)` is a valid treatment vector indicating that observations 2 and 3 are treatment? Or are you saying that the treatment vector is limited to two unique non-NA values, one of which must be 0 and the other must be > 0?

[2017-07-11 14:42] markmfredrickson commented on #129
I've merged the commit and added the requested comment. Ready to close?

[2017-07-11 14:42] markmfredrickson commented on #129
I should add that all tests pass.

[2017-07-11 14:50] benthestatistician commented on #124
Weird, I'm certainly getting the error.

    +                  Pred = c(0.08494142, -0.02784262,
    +                           -.05284574, -0.07428686,
    +                           0.04335151))

    Error in pairmatch(dose2 ~ Pred, data = tmp) :
      could not find function "pairmatch"

    [1] ‘0.9.7’

                   _
    platform       x86_64-apple-darwin15.6.0
    arch           x86

[2017-07-11 14:53] benthestatistician commented on #129
Thanks, @markmfredrickson. Closing.

[2017-07-11 15:15] josherrickson commented on #124
I'm going to push back a bit on this. My primary view is that we should accept two (and only two) versions of the treatment vector: 0/1/NA and TRUE/FALSE/NA. (I'm willing to concede accepting "0"/"1"/"NA" as well, though I think we should not).

My rational is that by only accepting a very strict set of treatment vectors, we force users to be explicit in their handling of treatment and hopefully a

[2017-07-11 16:51] benthestatistician commented on #124
Excellent points, @josherrickson .  I'm persuaded.

In effect, this is an API change, so let's be sure to provide those users who'll all of a sudden be getting new errors with a clear trail of crumbs toward a solution,
either through the text of the error message, additional explanation in a help page that the error message points to, or both.

[2017-07-11 17:39] benthestatistician commented on #47
Two summers ago I abandoned my experiments with `Surv()` due to problems w/ matching on them that seem to be unrelated to optmatch.  Given that it didn't work for me, I don't see encouraging other users to do it.

Not recognizing another setting where I'd be specifically interested in maintaining a special class attribute of the treatment variable, I'm going to close out this issue. (In fact, on a

[2017-07-11 17:39] #47 closed

[2017-07-11 17:48] benthestatistician commented on #104
Checking in with this after a little hiatus.  @markmfredrickson would it seem like a little thing or a big thing to take up this thread from here? (Perhaps the answer is in your comments earlier on this thread, but I couldn't clearly see.)  If it's a little thing, then I'd support your trying to update the fillNAObjects branch and applying the fix you note to address the problem you named. The cal

[2017-07-11 17:53] #77 closed

[2017-07-11 18:00] benthestatistician commented on #71
I think we're done on this thread: much as I'd like to support optmatch examples in widely cited methodological textbooks (such as Guo's), I'm also persuaded of @markmfredrickson's conclusion that the example ought to have thrown a bug all along is the right one. So, closing.

While I'm here, I'll note that @ryanyoung2014's original (June 2014) above-noted issue stemming from NA's in the treatment

[2017-07-11 18:00] #71 closed

[2017-07-11 18:13] benthestatistician commented on #72
I wonder if we're seeing some issues in the wild relating to calling the wrong solver.  the issue statement suggests to me that _unless_ I've specifically asked for the fallback solver,

1. I should get the new solver, with its dynamic setting of problem size.
2. Our input-checking code shouldn't be nagging me too much about whether problems are too large.

Does that strike you as an accurate inte

[2017-07-11 18:21] benthestatistician commented on #116
To do (if/when chance arises):

- [ ] Review version of fullmatch w/o infeasibility recovery re continued support for negative omit.fractions
- [ ] fullmatch example tapping this functionality
- [ ] in `pairmatch.matrix`, touch up invocation of "fullmatch_try_recovery" option using `on.exit()`, as noted above
- [ ] new pairmatch functionality
- [ ] test(s)
- [ ] Default value of `pairmatch`'s `rem

[2017-07-11 19:44] #128 closed

[2017-07-11 20:10] josherrickson commented on #72
1. Accurate
2. I'm not sure on this end. I don't recall one way or the other whether I made any modifications along this line at the time, nor whether this was something I was considering when creating this issue.

[2017-07-12 21:00] benthestatistician commented on #123
Josh writes via email:

[2017-07-13 13:19] josherrickson commented on #123
I've finalized implementing this on the "toZwork" branch. All `match_on`, `fullmatch`, `pairmatch` and `exactMatch` versions support NA's in the treatment vector. Distance matrices will have smaller dimensions; optmatch objects will either have NA's for corresponding units (if `data` is specified) or be shorter (if `data` isn't specified for some cases).

Unless I hear otherwise (e.g. a failing ex

[2017-07-13 21:40] benthestatistician commented on #129
Would anyone object to my changing the signature of `subdim` so that instead of spitting out a list, of length 2 integer vectors corresponding to subproblems, it were to spit out a data frame with 2 named columns and with rows corresponding to subproblems?  (With compensatory adjustments wherever string "subdim" appears in R/ and tests/testthat/, of course.)   The change is intended to make the fu

[2017-07-14 11:34] josherrickson commented on #129
I have no overall objections. It might make sense to transpose your idea though? So it enables something like this:

[code]

Each column would be the output of `dim(matrix)`. Seems to me that pulling out each individual `dim` will be more common than pulling out all row/columns across all subproblems. This would also mean your example code would not need modification.

One issue I see with this su

[2017-07-14 13:19] benthestatistician commented on #129
Interesting. Relative to my proposal, Josh's has the advantages that

1.  Subproblem info is neatly extracted w "`$`", e.g. "`sd$prob1`" ;
2. It's a smaller change to the function signature -- essentially returning the same things as before, but typed as `data.frame` rather than `list`.

Its disadvantages relative to my proposal are that
3. Info about numbers of controls by subclass, or numbers of

[2017-07-14 14:14] benthestatistician commented on #129
Toying with Josh's idea a little: maybe it could slip into my usage scenario better if given suitable  row names?  I'm not sure if these are the best ones, but supposing it was `c("treatments", "controls")`,

[code]
As compared to a `$` -based syntax, there's still less user convenience and more room for user error than I'd like. But better than the `sapply` based construction in [issue129 eba2750

[2017-07-15 01:48] benthestatistician opened #132 "`fullmatch` treatment/control symmetry"
The following should give equivalent matches:

[code]
At present, the latter returns all NAs.

[2017-07-15 03:19] benthestatistician commented on #132
The main change is to add a the line `d <- t(d)` at an appropriate point in `.fullmatch`; see [issue132 e20b572] .    Remains to

- [ ] deal with problems specifying a mean.controls  (our input checking code throws errors)
- [ ] update min/max controls cap tests

Along the way I might restore earlier omit-fraction behavior; see #77.

(I've  started the work  on branch issue132, which pulls in unre

[2017-07-15 04:25] benthestatistician commented on #123
I've been getting good use out of these updates in my own work.  Don't hesitate push up to master if you haven't already, @josherrickson .

[2017-07-15 04:44] benthestatistician commented on #116
#132 is indirectly relevant.  Work toward it might make this easier.

[2017-07-15 12:01] josherrickson commented on #123
Sorry, slipped my mind. Merged into master. Closing.

[2017-07-15 12:01] #123 closed

[2017-07-15 12:01] josherrickson commented on #127
Along the same lines, running devtools commands in RStudio is forcing changes in RcppExports.R. Committed in 9730c6e. Again, just wanting to run it by the more C-oriented folks.

[2017-07-15 23:26] benthestatistician commented on #77
Negative omit.fractions re-enabled in [issue132 6521956] , a reversion of the commit mentioned above.  It works over there now.

I believe this restriction on the `omit.fraction` argument isn't actually necessary, despite input-checking code enforcing it:

But time was a little short, so for now I left it as-is.

[2017-07-16 00:12] benthestatistician commented on #116
This works now in the issue132 branch, as of [issue132 84b86c4].

Additional remaining to-dos:

- [ ] How does this approach respond to pairmatch problems with `controls`>1? Try a test case or two, add a little to test.pairmatch.R (which is skimpy on this front)
- [ ] Is use of `fullmatch_try_recovery` actually idle in this context? Think this through.

(These may well be small matters, I just ran

[2017-07-16 00:13] #132 closed

[2017-07-16 00:13] benthestatistician commented on #132
Closed, awaiting review from MF.  (Perhaps the review will lead to reopening...)

[2017-07-16 00:17] benthestatistician commented on #75
This didn't ever go anywhere. Closing.

[2017-07-16 00:17] #75 closed

[2017-07-18 00:25] benthestatistician commented on #116
Answer to question about what this does w/ pairmatch problems w/ `controls`>1: at present, an error is thrown in these cases (i.e. cases where there aren't `controls` * (the number of treatments) members of the control group).  That's due to this error-checking in `fullmatch.matrix`, the necessity of which I didn't stop to think through:

[code]

Reifying this as an expectation, somewhat arbitrari

[2017-07-18 00:30] #116 closed

[2017-07-18 00:31] benthestatistician opened #134 "Next major version (0.10 or 1.0) changes"
A place to list changes to make in the next major version.

[2017-07-18 00:32] benthestatistician commented on #134
- Get rid of mdist?
- `pairmatch` default for `remove.unmatchables` |--> TRUE

[2017-07-19 13:50] photopresentr opened #135 "Minimizing Squared Distance"
I have treatment/controls distinguished by geographic location. The matching strategy I would like to use minimize *squared* Euclidean distance. However, the ``optmatch`` package by default minimizes absolute distance.

In my use case, this means I get one observation with a great match and one observation with a terrible match.

Minimal example:

[code]

Result:

[code]

In an ideal world, I'd li

[2017-07-19 14:13] benthestatistician commented on #135
Thanks for this comment, @photopresentr .

To building on your minimal example (thanks), you can also get what you're after with

[code]

We should probably update [Create a custom distance function](https://github.com/markmfredrickson/optmatch/wiki/Implementing-non-standard-matching-distances) wiki to point users in this direction. I may change that to be the mission of this GH issue.

I notice t

[2017-07-19 20:01] photopresentr commented on #135
This is a much better solution @benthestatistician , thanks for this!

I don't want to hijack this issue, but another issue I ran into - purely my fault too - was that I spelled "caliper" as "calipher" and was wondering why it did not work. Perhaps throwing an error when arguments are not recognised could be also a valuable addition to this great library.

Thanks for all the work and very useful s

[2017-07-21 13:18] benthestatistician commented on #124
It occurred to me that we should update `makeOptmatch()` so that the `contrast.group` attribute being set [here](https://github.com/markmfredrickson/optmatch/blob/toZwork/R/Optmatch.R#L121) isn't just `TRUE`'s and `FALSE`'s but also, where appropriate, `NA`s.  @josherrickson do you agree?

Not a heavy lift, I think...

[2017-07-24 13:46] josherrickson commented on #124
I agree. Having trouble compiling right now so I can't address it yet at the moment.

I think something like this should work:

[code]

I think `subproblem` should be fine, but it should be double-checked as well.

I will take a look when I figure out why my computer is refusing to compile optmatch (I think its an Rcpp issue:

[code]

but I'm not sure. I feel like everytime I try and build a packa

[2017-07-24 14:09] benthestatistician commented on #124
I agree on each point, @josherrickson .  Re compile problems, I think @markmfredrickson reported having similar trouble, then after some effort pushing through it.  Mark, is this correct?  Can you share some wisdom?

[2017-07-24 17:44] josherrickson commented on #124
My laptop still builds fine. I'll have this updated shortly.

[2017-07-24 17:52] josherrickson commented on #124
Updated in b4908b3. `subproblem` just needed a proper naming.

[2017-07-31 18:21] josherrickson commented on #127
Yet another automated change to RcppExports.R. This one required an update to optmatch_init.c too. (This fixes the issue @benthestatistician and I were briefly discussing in #124.) Still not entirely comfortable with what I'm doing here, I'd love to get @markmfredrickson or @nullsatz to chime in to make sure I'm not making a mess of things.

[2017-08-02 19:06] markmfredrickson opened #136 "Better error messages for not enough control unit type failures"
Pairmatches can fail when there are not enough control units available. This can be particularly confusing with a caliper that forces, say, 10 treated units to share 9 control units. Can we detect this prob lem in advance and provide better warnings?

[2017-08-02 21:49] benthestatistician commented on #136
With the recent updates for #129, we may be catching a somewhat greater share of these cases than previously, by more reliably flagging subclasses in which the number of controls can be seen to be insufficient once the ineligible-for-matching controls have been removed.  (I don't believe this last bit was being figured into the calculation previously.)

Does if make sense to try to go further than

[2017-08-02 22:04] benthestatistician commented on #135
I updated the wiki to note this solution. (Not sure about a good way to check for misspellings, but if I run into something I may cycle back.)

[2017-08-02 22:05] #135 closed

[2017-08-03 12:17] josherrickson commented on #127
Just spoke with @nullsatz, he looked over the various changes I've made and didn't spot any concerns. Closing.

[2017-08-03 12:17] josherrickson commented on #127
Just to comment, as of the latest commit, we pass all checks on both 3.4 (current) and 3.5 (devel) in Travis.

[2017-08-03 12:20] josherrickson commented on #124
This has been completed I believe.

[2017-08-03 12:20] #124 closed

[2017-08-03 15:09] benthestatistician commented on #124
Thanks @josherrickson!

[2017-08-04 14:28] benthestatistician commented on #134
Do away with the fallback solver ("relaxalgold")?

[2017-08-04 14:43] benthestatistician commented on #72
Getting back to the original issue of testing for fallback vs main solver (and away from the side-issue of whether error messages not related to this issue do too much user nagging): on the hinting branch, the default solver is modified to accept and return an additional argument, `rc1`.   So over there we can check which solver was invoked by checking to see whether an rc1 slot gets sent back.

[2017-08-04 14:54] benthestatistician commented on #125
Maybe the test is just encoding an expectation that the package will ship with `"optmatch_max_problem_size"` set to a finite value, leaving it to the user to re-set it to `Inf` if he so desires.  On this assumption, closing.

[2017-08-04 14:56] #125 closed

[2017-08-04 16:10] benthestatistician commented on #126
We can probably live without the stop/warning conditionaltiy based on whether interactive or not. Closing

[2017-08-04 16:10] #126 closed

[2017-08-10 17:35] markmfredrickson opened #137 "Caliper should call `match_on` on its argument"
It would be nice for caliper to behave a little more like `match_on` with respect to formulas, glms, etc. Users might want to build a distance based on Mahalanobis and then combine with a caliper based on a propensity score. Since `match_on` will just pass through distances matrices this wouldn't change the current behavior.

[2017-08-15 15:10] markmfredrickson opened #138 "Remove "omitted units" warning?"
What do we think about removing the warning out dropping unmatchable units: "The problem is infeasible with the given constraints; some units were omitted to allow a match."

I've received a few support emails where I think this warning confused more than enlightened users. We could also hide it behind an option for more verbose warnings.

[2017-08-15 15:15] markmfredrickson opened #139 "Move "big problem" warning into matching routines"
Right now we warn people when they create big distance matrices. The problem is that this line

    match_on(treatment ~ x1 + x2, data = mydata) + exactMatch(treatment ~ mypairs, data = mydata)

would give a waring even if the exact match pairs up treated and control units (i.e., the call to `match_on` can't know it is about to get added to an exact match).

By moving to the matching stage, the us

[2017-08-15 15:56] benthestatistician commented on #139
wouldn't this hypothetical user's computer be happier if she instead did

[code]
or the equivalent?   I suspect so, and also that we should be steering users away from building big distances.  I think that's why we chose to put warnings in the distance building functions.

Perhaps warnings in themselves aren't quite sufficient to make the point.  Maybe they'd be better if they pointed to a short v

[2017-08-15 15:58] benthestatistician commented on #138
I'd be OK with an adjustment along these lines.

A less extreme adaptation might be to warn about one or more **subproblems** being infeasible, rather than describing the entire problem that way. But maybe that's programming time and effort that we don't have to spend.

[2017-08-18 21:19] benthestatistician commented on #127
Shortly after @josherrickson 's comment about passing all checks, we stopped passing checks.  Here's the [travis CI page for optmatch](https://travis-ci.org/markmfredrickson/optmatch/builds); Josh's last comment on this thread was around the time of [master b02294c], while as of [master  149e42b] we started having problems.

These problems are only on R:release and R:devel, not on R:oldrel.  I cou

[2017-08-18 23:20] josherrickson commented on #127
So this is something I ran into before but forgot to follow up on, so thanks for flagging it again. I'm very confident that its unrelated to this issue (and unrelated to the optmatch R package). I'll start a new thread to document to the issue.

[2017-08-18 23:20] #127 closed

[2017-08-18 23:35] josherrickson opened #140 "Travis-CI parallel jobs fail"
*I'm confident this is unrelated to optmatch the R project, and it's possible this is no-action on our part while waiting for a fix from Travis, but documenting it here anyways since its hitting others, e.g. @benthestatistician in #127 .*

It seems that the automated Travis jobs are failing when all three (oldrel, release, dev) are run simultaneously. It manifests generally as oldrel passing, then

[2017-08-19 02:03] benthestatistician commented on #127
Thanks, @josherrickson .  I was having a problem building and testing the package locally and I figured it was tied to the problem travis was reporting.  A bit more banging on it is consistent it's having been unrelated to #140.

@adamrauh: I find that on my machine, I am able to install and run tests of either the master or the hinting branch, but only when following a specific sequence of steps.

[2017-09-04 13:25] adamrauh opened #141 "Solver Inconsistency/Unavailability?"
I'm making this thread to document some problems I've been having with reproducing results consistently + some other error messages related to the solver and hopefully resolve them.

I noticed that when I was running identical code with identical inputs multiple times, I would sometimes get a solution (a solution was expected) and other times it would return no solution.

Back during the process o

[2017-09-04 16:02] benthestatistician commented on #141
1. I think I know what the other machine is, "evalengin"; if so it's running RHEL 6.9. (Got this via `$ cat /etc/redhat-release`.)  Please correct this if it's mistaken.
2. If I'm not mistaken, the dll advice is specific to MS Windows.  (The linked wiki page doesn't directly speak to this, but lower on the page there's a path spec starting w/ "d:/", consistent with MS Windows but not *nix.)
3. I t

[2017-09-04 23:42] adamrauh commented on #141
1. RHEL 6.9 is correct
2. Yes, you are also correct here -- my mistake. I think I found the *nix "equivalent" [here](https://www.r-bloggers.com/fortran-and-r-speed-things-up/). I tried this with relax4s.f and had no luck, unfortunately. Calling is.loaded("relaxalg") returns TRUE now instead of FALSE, but it didn't stop the error. There's a chance I could be out in left field thinking along these l

[2017-09-06 01:25] benthestatistician commented on #141
Odd.  Did you precisely follow the steps I suggested in comments to #127, @adamrauh ? Did you try them again?

I got onto the evalengin machine and tried those steps again.  Specifically:

    $ cd <optmatch clone directory>
    $ R

    $ make clean
    $ R

...and it worked for me.  (There were a few questions along the way, about whether it should install this or that.)

I'd recommend that you

[2017-09-09 20:27] adamrauh commented on #141
Ok, after trying the above a few different ways, the issue looks to be related to my own fork of the hinting branch. I tried the steps above with the master branch, the hinting branch from this repo, and my own fork-- the first two worked fine, but my fork still had the same issues. Additionally, using the two working hinting/master branches, I was able to run my own tests about getting consistent

[2017-09-11 15:10] benthestatistician opened #142 "`makedist(z,x,f,within)` should ignore extraneous `within` entries"
A computed ISM may be used to whittle down the sample size: for instance, fit propensity score model; calculate ISM based on it and possibly other constraints;  get rid of observations that would be excluded by the combination of constraints, then re-fit the PS model before matching.  In this workflow the intermediate ISM may have row or column entries that don't appear in the data frame used for

[2017-09-11 15:23] benthestatistician opened #143 "permit ISM binary ops on ISMs of different dimension?"
In some workflows one ISM ("aISM", say) might be built in the process of whittling down the sample toward a subsample that will be used for fitting an index score (eg propensity score) model, which will in turn be used to create another ISM ("bISM") for matching.  (See statement of #142 for a bit more description.)  In this context it would be helpful if when `ismOpHandler` saw ISMs e1 and e2 of d

[2017-10-10 02:48] benthestatistician commented on #141
@adamrauh, I suspect this may be ready for closing. Do you agree?

[2017-10-10 04:55] adamrauh commented on #141
@benthestatistician Yep, this can definitely be closed.

[2017-10-10 13:54] #141 closed

[2017-10-11 15:11] benthestatistician commented on #76
An update, drawn from email from @adamrauh:

All of this sounds good and in accord with what I think should be happening.  However, as to next steps after this, I see some issues both in what Adam wrote later in the same email and what I wrote  a few months back in the comment thread above. Accordingly I'll cross-out two remaining checklist items I see up there that now longer reflect my understan

[2017-10-13 08:17] adamrauh commented on #76
More notes on this topic outlining the details of next steps as I currently understand them, based on another conversation. Also to serve as a reference for myself:

- current process of extracting node prices should be implemented in subDivStrat, as opposed to being done in fmatch and passed back up. There may be some variables that make this easier in fmatch, but I will check this out.
- toleran

[2017-10-19 08:40] adamrauh commented on #76
Regarding some of what is detailed above (specifically [here](https://github.com/markmfredrickson/optmatch/issues/76#issuecomment-335844027)), is there any reason that one couldn't make the assumption that both the "end" and "sink" nodes have a price of zero? The links between the "regular" nodes and the "end" and "sink" nodes don't get passed back up to SubDivStrat. It appears that all the contro

[2017-10-23 21:27] benthestatistician opened #144 "adjust RELAX-IV acknowledgment"
1. In our [statement about the role of the Bersekas-Tseng codes](https://github.com/markmfredrickson/optmatch/blob/master/R/relaxinfo.R) we say we use both RELAX-IV and AUCTION. In point of fact, we've always set things up in such a way that AUCTION is never invoked. Perhaps we should leave that out.
2. Another approach would be to expose from within R the RELAX-IV parameter `CRASH` that directs R

[2017-12-22 21:49] benthestatistician commented on #134
Any reservations RE doing away with the fallback solver at the next release?  It would make @adamrauh's work on the hinting branch easier, and I'm guessing it would probably help us to stay on top of the various scoldings we'll be receiving from the CRAN compiler.  (I took a peek over there and saw that our released version is getting a bunch of new NOTE's, unfortunately, so there's definitely som

[2017-12-23 15:44] jwbowers commented on #134
I haven't heard anything about when the fallback solver is being used. I
guess we haven't been tracking that.

Jake Bowers
http://jakebowers.org

On Fri, Dec 22, 2017 at 1:49 PM, Ben <notifications@github.com> wrote:

[2017-12-23 18:38] benthestatistician commented on #134
Thanks, Jake, this is helpful.

We kept the fallback solver in there in case there were researchers using
optmatch with older hardware and/or operating systems that didn't mesh with
the updated solver so well. (This must have been 3 or 4 years back.) Jake
seems the most likely of the optmatch contributors to interact with such
researchers, in virtue of his teaching junkets in South America.

[2018-01-22 20:36] josherrickson commented on #140
Whatever issue Travis was having appears to no longer be the case. Parallel jobs now run to completion.

[2018-01-22 20:36] #140 closed

[2018-02-26 17:52] josherrickson opened #146 "CBPS removed from CRAN"
https://cran.r-project.org/web//packages/CBPS/index.html

I don't believe this should have any impact on the actual optmatch package (we only `enhance` it, and the only place we actually need CBPS (in testing) includes an `if(require(CBPS))` flag, but it was being loaded into Travis. I've removed it from Travis config (8730b90) so that Travis can pass, but if it returns to CRAN, we should re-enabl

[2018-03-08 18:57] josherrickson opened #147 "within=caliper with NA's"
### remaining to dos on this issue

- review associated branch
- update as needed
- merge into master
- update release notes

### issue description

This may be related to #142 but seems distinct.

[code]

I believe this is due to `cost` being both involved in creating the caliper and also using to create the distance. This does not error without `~ cost` in `match_on`, e.g.

[code]

We can get ar

[2018-03-09 02:50] benthestatistician commented on #147
The problem also has to something do with the NA on the RHS of the formula given to `match_on()`.

[code]

[2018-03-09 03:58] benthestatistician commented on #147
Started a new branch for this problem, issue147.

[2018-03-14 14:58] josherrickson commented on #146
CBPS has returned, but only for R>3.4. On Travis, "oldrel" is currently 3.3.3 for which there is no installable CBPS. This will remain no action until next full release of R and "oldrel" gets bumped to 3.4.x.

[2018-05-03 16:59] adamrauh commented on #147
My findings are consistent with @benthestatistician so far. I added in a subset to remove the rows in columns not appearing in mf before the call to `makedist()` in `match_on.formula()` and this seems to stop the error in the cases here. For instance,
[code]
I'm going to check this a little bit more and see if it passes the tests, then probably commit to the issue147 branch if things check out.

[2018-05-07 15:11] adamrauh commented on #147
working on fixes [here](https://github.com/adamrauh/optmatch/commit/36f2633ccb0caad3955ff6c3cf81846fa7aa984a#diff-e1e1d3d40573127e9ee0480caf1283d6)

[2018-05-07 17:03] benthestatistician commented on #147
In conversation just now it occurred to @adamrauh and me that one of my earlier comments had set him somewhat on the wrong track.  I was forgetting about some of the internal presumptions of the codebase.  His code suggestions are good but will have to be updated.  (I'm deliberately leaving this a bit cryptic; Adam do add updates and clarifications as appropriate.)

Underlying this: for `match_on(

[2018-05-08 18:12] adamrauh commented on #147
The general idea of my current thoughts are to perform a similar, but slightly different set of operations on the data in the `makedist()` function. One thing @benthestatistician brought up, which I hadn't considered, is avoiding making extra copies of objects (especially `within`) wherever possible, and I agree that moving this kind of code to `makedist()` would help. There is also some logic at

[2018-05-08 19:30] benthestatistician commented on #147
Thanks for posting this update, @adamrauh .  I agree that [at L65-L66 of makedist.R](https://github.com/markmfredrickson/optmatch/blob/master/R/makedist.R#L65)  we should strip out the conditions `!all(within@rownames %in% runs)` and `!all(within@colnames %in% cos)`.

[2018-05-08 23:07] adamrauh commented on #147
I just pushed up some new changes, which you can see in [this commit](https://github.com/adamrauh/optmatch/commit/074cc0644a7d924f44b02aafb69d824cb0386fdc?w=1). I basically moved where the subsetting happens from `match_on.formula()` to `makedist()` and then ended up adding a few patches to make sure that information about dropped units gets added back at the end. I'm not entirely satisfied with t

[2018-05-09 14:53] benthestatistician commented on #147
I like the direction of @adamrauh 's commit.

Before commenting more, I'd like some feedback from @markmfredrickson, or @josherrickson, on a fine point about outmatch objects' interactions with one another.   Would you agree with the following.

1.  Suppose that `match_on` receives both a within argument and a data argument. If the within object references subjects not represented as rows in the d

[2018-05-09 18:44] benthestatistician commented on #147
@adamrauh once we're all agreed on what the expectations ought to be vis a vis compatibility of names provided via data and within argument, we should write tests to enforce these expectations, committing them in a dedicated commit that references this issue thread.  I'll leave this in your court.

[2018-05-09 18:55] adamrauh commented on #147
@benthestatistician Noted. Based on one of my non-functional attempts at a solution yesterday, it appears that there might be some assumptions about ISMs/BISMs and `within` objects that aren't outwardly obvious (to me, anyway). As I mentioned, I ran into some issues elsewhere in the code when I attempted to subset the rows, cols, and .Data slots (and not rownames/colnames) with the intent of avoid

[2018-05-09 19:00] benthestatistician commented on #142
Just noting that @adamrauh has a fix for this queued up in the issue147 branch of his fork, [commit no. 074cc06](https://github.com/adamrauh/optmatch/commit/074cc0644a7d924f44b02aafb69d824cb0386fdc?w=1).  A pull-in of that change including his replacement of
[code]
with
[code]
in `makedist.R` should close out this issue in the process.

[2018-05-09 19:26] #144 closed

[2018-05-10 14:19] josherrickson commented on #147
I had a thought of a different approach to this (it wouldn't completely remove the need to address this [see below] but does remove the most common cause).

It seems to me that the primary culprit here is that an NA on the RHS of a `caliper` or `exactMatch` results in that column/row being dropped completely. Is this the most expected outcome? Would it not make more sense include the NA'd row/colu

[2018-05-10 14:41] adamrauh commented on #147
@josherrickson I believe I actually experimented with the first situation you describe-- with the NA'd unit not being dropped, but included with Infs. I think it caused problems in either the `issue.warning <- issue.warning || (dim(prepareMatching(s))[1] > getMaxProblemSize())` step or at `dists <- distancefn(cbind(treatmentids, controlids), data, z)` in `makedist.R`... could be my fault, though.

[2018-05-10 14:44] josherrickson commented on #147
@adamrauh I imagine this might require quite a bit more restructuring then the current proposal. But it might smooth the way in the future. I'm curious what @benthestatistician or @markmfredrickson think.

[2018-05-10 15:30] adamrauh commented on #147
Within `makedist.R` I tried:

[code]
which seems to give:
[code]
and then:
[code]
returns
[code]
which is why I reverted back to the other idea.

[2018-05-10 15:49] benthestatistician commented on #147
My reactions to recent comments of @adamrauh and @josherrickson, in reverse-importance order:

1. Re Josh's thought about new caliper argument (`na.action = {Inf, 0}`): I'd be somewhat averse to adding a new `caliper()` argument for this purpose, particularly since something closely related is already available using the `exclude` argument.    On the other hand I agree that it makes sense to suppo

[2018-05-10 16:09] adamrauh commented on #147
On @benthestatistician 's point 2: It looks like updating within@groups removes the corresponding row/col from the matrix. Plus, the same error still persists.

and on 4: the issue147 branch on my fork should pass all existing tests and solves the issue (as I understand it). I think adding some additional tests would be a good idea, in light of some of the discoveries.

[2018-05-10 17:55] josherrickson commented on #147
Re 3/4: Sounds reasonable.

Re 5: I think you're right - within can have excess (if you subset the data for example) but should be missing anything. I agree with your comment above (https://github.com/markmfredrickson/optmatch/issues/147#issuecomment-387766320).

[2018-05-11 16:54] adamrauh commented on #147
Just noting that if we feel okay with the approach I’ve got for now, I think it’s pretty much ready for inspection.

[2018-05-11 17:17] josherrickson commented on #134
After an email exchange with @benthestatistician, I formally deprecated mdist and optmatch.dlist objects. The idea was to deprecate on the version we're working on right now (they were mentioned to be deprecated in the NEWS a while back, but never formally [`.Deprecate()`'d](https://stat.ethz.ch/R-manual/R-devel/library/base/html/Deprecated.html)), and remove them entirely next release (as mention

[2018-05-11 17:31] benthestatistician commented on #147
thanks, good to hear!   Looking over your commits i like the jist of what you've done, but I'll wait for the pull request to view them all together.

En route to that, do implement the full 5 steps @josherrickson & I had suggested by email.  E.g., I take it all tests are passing now in your issue147 branch?  Once that's the case, don't forget to pull in recent changes to public master, first into

[2018-05-11 17:50] benthestatistician commented on #134
I'd second @josherrickson 's original suggestion of no. 2.  (He must have edited his comment since it turned up in my email.)  Not in favor of the current suggestion (as of this writing), no. 4.

[2018-05-11 17:57] adamrauh commented on #147
@benthestatistician All the tests are passing, including some new ones that I added in. More specifically, I added in a new `test_that()` function with relevant material. I'll try to implement the overall process outlined previously to ensure that nothing breaks.

[2018-05-14 12:48] josherrickson opened #149 "exactMatch on unique variable crashes"
[code]

I believe this is due to [exactMatch.R#L111](https://github.com/markmfredrickson/optmatch/blob/master/R/exactMatch.R#L111) returning all empty vectors since nothing is eligible match. (This can also occur if the RHS variable is unique between Treatment/Control.)

[2018-05-14 13:02] josherrickson commented on #149
[code]

Closing. @benthestatistician feel free to suggest a better error message. See [test.exactMatch.R#L255](https://github.com/markmfredrickson/optmatch/blob/master/tests/testthat/test.exactMatch.R#L255) for simpler examples of the two scenarios (truly unique X versus unique across groups).

[2018-05-14 13:02] #149 closed

[2018-05-14 16:03] adamrauh commented on #147
After discussion with @benthestatistician (following his discussion with @josherrickson), some updates to the documentation of `InfinitySparseMatrix.R` are needed. The plan is to update the docs, include descriptions of the different slots, and note that ordering of rows/cols may change as a result of subsetting and/or other manipulations. I think we've agreed to close this issue when that has bee

[2018-05-14 18:20] benthestatistician commented on #54
@adamrauh per our conversation today, I'm re-opening #54 in anticipation of you taking the lead on pushing it along in coming weeks.  (I also took the opportunity to add a detail to issue statement that hadn't occurred to be during the meeting but is a natural outgrowth of what was discussed there.)

[2018-05-14 18:48] markmfredrickson commented on #134
No. 2 sounds good to me.

[2018-05-14 19:09] markmfredrickson commented on #142
I can confirm this is fixed in the pull (now in master). Closing.

[2018-05-14 19:09] #142 closed

[2018-05-14 19:30] #138 closed

[2018-05-15 20:42] benthestatistician commented on #147
Nice progress.  As I noted in a comment on the commit, corresponding docs for BISMs would make sense.  Not sure about DenseMatrices; that might be in order also.

Since @markmfredrickson designed and implemented ISMs and BISMs and the like, I'd direct the pull request to him when ready.

[2018-05-22 15:15] benthestatistician commented on #68
@adamrauh the discussion about possible evolution of optmatch data structure is on this thread.  (Context: If we're going to be adding in node price data anyway, perhaps we should go ahead and give the entire specification of optmatch objects a facelift, while we're at it.)

Observation: In order to be able to store node prices in a vector aligned with the factor object encoding the match, it need

[2018-05-30 03:06] benthestatistician commented on #147
I've pulled Adam's changes into the issue147 branch.  All that remains is to merge this branch into master.  (No reason not to, just leaving this for tomorrow.)

[2018-06-15 14:03] josherrickson opened #151 "MASS error in R-devel"
I noticed that there's a new warning/error popping up in Travis for R-devel:

[code]

This does *not* show up when submitting to the win-builder. However, we should still investigate when we get a chance.

[code]

Since this is only in tests, hopefully we can work around the use of MASS (e.g. quickly looking at test.compute_mahal.R, perhaps we can just generate the data serially with arbitrary non

[2018-06-15 14:15] josherrickson commented on #146
Travis updated oldrel to 3.4 so this issue has been addressed.

[2018-06-15 14:15] #146 closed

[2018-06-15 14:29] benthestatistician commented on #151
Does anyone see a problem w/ simply copying these function definitions into our test files?  The MASS package license is listed at "GPL-2 | GPL-3".  I'd might add some text indicating the source.

[code]

[2018-06-15 14:54] josherrickson commented on #151
It's not the most elegant solution, but as long as none of the objects inside those functions also rely on MASS, it should be fine.

[2018-06-15 15:08] josherrickson commented on #151
Also, just noticed this error is appearing in the CRAN check: https://cran.r-project.org/web/checks/check_results_optmatch.html. It's interesting that this is appearing here, but not on the winbuild server. I had thought they were equivalent.

[2018-06-15 15:18] benthestatistician commented on #151
I just pushed up [master 0834339], which ought to take care of the
problem.  Couldn't check b/c my local testing setup is wonky.  But I
imagine that if I check back early next week Travis will have tested it for
me.  Pls let me know if I'm misunderstanding how that works.

[2018-06-15 15:30] josherrickson commented on #151
I can confirm this fixed the issue with Travis. Closing.

[2018-06-15 15:30] #151 closed

[2018-06-15 15:40] josherrickson opened #152 "biglm and R-release on Linux"
Noticed that we're seeing an error on [CRAN](https://cran.r-project.org/web/checks/check_results_optmatch.html) related to biglm, only on R release on Linux:

       no applicable method for 'bigglm' applied to an object of class "data.frame"

I don't think this is our fault, given that biglm exhibits the same error: https://cran.r-project.org/web/checks/check_results_biglm.html

No Action on our

[2018-06-21 21:05] markmfredrickson commented on #152
Thanks for flagging the upstream issue. CRAN has put us on notice that optmatch will be remove on 7/2 if this isn't fixed. I've email them to point out the upstream nature and the fact that is intermittent (i.e., I can't recreate on my linux install). I'll update this issue if we get a response.

[2018-06-22 03:05] benthestatistician commented on #152
file that we no longer include in the tarballs we submit to CRAN. Similar
to what we've recently decided to try out for RItools; see discussion of
recent pull requests on that repo, and associated references to that
comprise.

[2018-06-22 16:40] josherrickson commented on #152
The tidyverse package 'broom' is being hit by this too (https://cran.r-project.org/web/checks/check_results_broom.html). I don't see any indication in their repo they're aware of or have addressed it yet, but we can hopefully take a hint from them when they do correct it.

[2018-06-29 12:41] josherrickson commented on #152
@markmfredrickson Any update from CRAN? Do we need to push out a release removing these test before Monday?

[2018-06-29 14:19] markmfredrickson commented on #152
We're ok for biglm. They want a fix for the `MASS::` issues in #151. I'll get a release pushed with the fix for #151.

[2018-08-02 14:06] benthestatistician opened #154 "new hinting branch"
#153 proposes a pull into the hinting branch, but the material to be pulled in (adamrauh/optmatch@issue54) appears to have been written to a branch off of the master branch. This would lead to a commit trail that's more complicated than need be, aside from at least one merge conflict. We can circumvent this by

- [x]  Setting up a new branch, perhaps issue54-hinting, off the current master
- [x]

[2018-08-02 14:07] benthestatistician commented on #154
@markmfredrickson  if you agree can you set this in motion, kicking back to me and/or Adam if/as needed?

[2018-10-04 21:13] benthestatistician commented on #105
A similar issue arose for me just now:

[code]
The problem is deep down in `model.frame.default()`:

[code]
Actually `model.frame.default()` gets successfully invoked several times before the problematic invocation from within `scores()`.  A conjecture about is that the problem has to do with `scores()`
passing a data frame in its formula slot, then w/ this data frame being re-cast within `model.f

[2018-10-05 02:25] benthestatistician opened #155 "summary.optmatch() fails with a bad subproblem"
[Here's](https://github.com/markmfredrickson/optmatch/files/2448719/badfm.RData.zip) a match with two subproblems, s.t. for one of the subproblems matching fails. (See comments for another example.) Unfortunately `summary()` also fails:

[code]

Looking inside I think I see the problem:
[code]
generates
[code]
and then the last `<NA>` column is unexpected further down.  (NB: it seems that last NA

[2018-10-22 16:53] josherrickson opened #156 "Test/Update for devtools 2.0"
`devtools` released version 2.0, which is a massive overhaul of their systems (https://cran.r-project.org/web/packages/devtools/news/news.html).

Devtools is completely busted on my machine right now, but at some point we'll want to double-check that no modifications need to be made to continue support for devtools.

[2018-10-22 16:55] josherrickson commented on #156
Just in case it helps anyone else, the error I'm seeing is

[code]

[2018-10-23 19:44] josherrickson opened #157 "Travis failing"
Re-ran the latest commit in Travis (https://travis-ci.org/markmfredrickson/optmatch/jobs/403517872) and we're failing with some message about API limits:

[code]

Not sure if this is an issue on our end or on Travis' end. Quick search turned up this issue: https://github.com/git-lfs/git-lfs/issues/2133

[2018-10-23 21:30] benthestatistician commented on #157
I suppose the next step is to try out the suggestion in the error message
(and the git-lfs issue 2133 discussion), to set up a Personal Access Token
and communicate it via travis settings.

[2018-10-26 16:20] mhines-usgs commented on #157
I have a GITHUB_PAT token affiliated with my travis build and I still am intermittently getting this... it seems to be specific to using devtools::install_github ?

https://travis-ci.org/USGS-R/repgen/builds/446760948?utm_source=github_status&utm_medium=notification

[2018-10-26 16:37] josherrickson commented on #157
Thanks for the hint @mhines-usgs . Looks like this is related to `install_github`: https://github.com/r-lib/remotes/issues/210, specifically https://github.com/r-lib/remotes/issues/210#issuecomment-432261541.

[2018-10-29 19:25] josherrickson commented on #156
I managed to get my devtools working and it looks like everything works now. @markmfredrickson would love a second opinion just to make sure I'm not missing something.

[2018-10-29 20:00] josherrickson commented on #157
I tried adding the key to another package I maintain, and still get the API limit error. I still think this is an issue that Travis/Devtools need to work out, not us.

[2018-10-29 20:04] mhines-usgs commented on #157
@josherrickson  -- you're correct, it seems like it's an issue with remotes, and they are supposed to be doing a release of it sometime 🤞 https://github.com/r-lib/devtools/issues/1906

[2018-10-30 18:35] josherrickson opened #158 "fix stata documentation in vignette"
When importing the match back into Stata, suggest something like

[code]
Then
[code]

To force Stata to treat as factor. Maybe there's a better solution?

[2018-10-30 18:43] josherrickson commented on #158
Also, `write.dta` should be `write.csv`.

[2018-10-30 19:18] josherrickson opened #159 "Support `labelled` class treatment vectors"
Tibble objects can contain "labelled" vectors which are created during imports from Stata and SPSS.  We fail to support this.

[code]

We stopped supporting factor-type treatment vectors, but I'm not sure whether labelled objects are closer to factors or numerics. Once we decide that, we should either add an informative warning a la factors, or implement a `toZ` function for labelled.

[2018-11-01 13:42] josherrickson commented on #157
There was a release of remotes the other day, and now Travis is passing (without us having to add a key). Going to close this now, but we'll want to keep an eye in case the issue re-appears.

[2018-11-01 13:42] #157 closed

[2018-11-05 19:33] markmfredrickson commented on #156
I've tried with both successfully:

    Package: devtools
    Title: Tools to Make Developing R Packages Easier
    Version: 1.13.6

    Package: devtools
    Title: Tools to Make Developing R Packages Easier
    Version: 2.0.1

[2018-11-05 20:04] josherrickson commented on #159
Stata doesn't have a logical. All it has (basically) are numeric and string, but the numerics can have labels attached to them (they're still numerics, but you can think of them as factors to certain extent).

So this arises not because we're importing something non-logical, but because Stata has a label attached to an otherwise completely normal numeric variable.

I believe the `labelled` type ha

[2018-11-05 20:04] josherrickson commented on #156
Thanks @markmfredrickson.

[2018-11-05 20:04] #156 closed

[2018-11-05 20:12] benthestatistician commented on #159
I'd be happy to go with Josh's solution of casting labelled numerics as
numeric.

On Mon, Nov 5, 2018 at 3:04 PM, Josh Errickson <notifications@github.com>
wrote:

[2019-05-07 20:03] benthestatistician commented on #154
Adam's work as of  20cb6d3  is now in the new branch issue54-hinting .

[2019-05-08 16:18] #154 closed

[2019-05-08 16:22] benthestatistician commented on #152
@josherrickson conveyed via email:

I think that means we're good on this issue.  Closing.

[2019-05-08 16:22] #152 closed

[2019-05-08 16:34] benthestatistician commented on #39
Closing: Mark provided one solution to the original problem;  one related issue arising in the thread, #83, has long since been dealt with. If we take up #104, perhaps we can reconsider this issue along the way.

[2019-05-08 16:34] #39 closed

[2019-05-08 17:13] benthestatistician commented on #63
After a couple minutes with this, my thoughts are:

- Here's the jist of how base R is maintaining the distinction between `m[1:10]` and `m[1:10,]` for data frames:
[code]
- (I was initially misled into thinking these functions weren't available, as `getMethod("[", "data.frame")` returns an error and `selectMethod("[", "data.frame"]` returns "Primitive".  Perhaps this is where Josh got held up whe

[2019-05-08 17:57] benthestatistician commented on #68
- Reviewing comments on this thread, I may have diverted conversation into an unhelpful direction some time back.  My concern that `c()` doesn't apply well to factor objects is beside the point; we could define a `c.optmatch` S3 method that fixes that.  I'd like to retract that comment and go back to consideration of Josh's proposal to override `c()`.
- But rather than overriding with an S3 method

[2019-05-08 21:04] benthestatistician opened #160 "functions to check CS for node price/match combination"
This relates closely to evaluating Lagrangians and dual functionals for the problem w/ non-discretized distances, evaluations that can be used to calculate exceedances (#164).  (For defs. of Lagrangian $L(,)$ and dual functional $q()$, see Bertsekas '98, displays 4.1--4.4, pp.156-7.)  CS obtains iff $L(x',p') = min_x L(x, p') = q(p')$, where $L(,)$ is the Lagrangian of the non-discretized problem;

[2019-05-08 21:22] benthestatistician opened #161 "dedicated structure for node prices & related info"
This structure might incorporate elements and functionality from the Adam Rauh's Optmatch S4 class, but in contrast to that class it won't attempt also to encode the factor type encoding of matches as in the current s3 optmatch class. (These structures might eventually be incorporated into a class like that.)

[2019-05-09 18:25] benthestatistician opened #162 "On warm start, provide `fmatch()` w/ capacity-feasible `x1`"
The relax algorithm certainly expects to be given a flow (x1) that's capacity feasible and satisfies CS at each arc.  A flow of all 0's, as we provide now, does not do this, except perhaps in rare cases.

Unclear whether the B & T Fortran code does anything to compensate for provided x1's that don't have the right relationship to provided node prices.  In relax4 source code, [x is described](https

[2019-05-13 14:56] benthestatistician commented on #162
After additional review of the relax4f source -- see in particular "NOTE 2" and following -- it's clear that:

- In the manner in which we're now calling it, it doesn't care what flow `x1` we give it, as it's settling on its own CS-satisfying flow during initialization phases 1 and 2;
- There may be a speed advantage to be had by informing it of the flow with which a prior run terminated, but secu

[2019-05-13 14:56] #162 closed

[2019-05-14 16:23] benthestatistician opened #163 "discretize distances for solver in 1 way not 2"
`SubDivStrat()` has

[code]
and then later, if maximum "error" associated w/ `temp` was too large,
[code]

I propose to get rid of this alternation in the course of enabling warm starts, using one of `floor` and `round` but not both.  That will make it easier to record/convey what was done.  If the solution has too large a `maxerr`, the user should start it again w/ lower tolerance.

As to which o

[2019-05-14 20:59] benthestatistician commented on #161
Road map:  vignettes/dual-MCF-solution.Rmd in branch issue54-hinting.

As of 34e2474 , this compiles into [dual-MCF-solution.pdf](https://github.com/markmfredrickson/optmatch/files/3179856/dual-MCF-solution.pdf).

[2019-05-15 01:36] benthestatistician opened #164 "dual functional-based maxErr/exceedance calc"
Solving the MDF with a discretized distance leads in general to not-quite-optimal node prices $p'$, with a dual functional value $q(p')$ somewhat below $\sup_p q(p)$. The corresponding sum of matched distances, $d(x')$ say, is probably also somewhat above its minimum value: also $\sup_p q(p)$, by basic duality result.   Thus $d(x') - q(p')$ is an upper bound on the sub-optimality of $d(x')$.
(For

[2019-05-15 01:41] benthestatistician commented on #163
Probably a major version sort of change; cf . #134.

[2019-05-16 15:47] benthestatistician opened #165 "Is `stats::dist()`'s arithmetic diverging from that of `optmatch:::mahalanobisHelper()`?"

[2019-05-16 16:11] benthestatistician commented on #165
... either that, or there's something wonky about my local setup, perhaps associated w/ recent upgrade to R 3.6.0.   Running tests.match_on.R I see:

[code]

Investigating a little gives:

[code]

(A second test failure at test.match_on.R:136 is more or less the same thing.)

No indication of this failure in [CRAN's checks](https://cran.case.edu/web/checks/check_results_optmatch.html).  Locally I

[2019-05-16 17:15] benthestatistician commented on #161
For `MCFSolutions` objects I don't think we actually need `object@matchables`: the info in there is available as
[code]

Unless we might need a separate table to keep track of units present in the originating matching problem but flagged as unmatchable en route to the MCF solver.  (Not the original motivation for this table, that being no longer relevant, but potentially worthwhile.)  However, in

[2019-05-17 17:10] benthestatistician commented on #161
Another adjustment we'll need: the user's treatment/control dichotomy may differ from the parallel dichotomy as understood by the solver, i.e. "T(**f**)" vs "C(**f**)" in this picture:
![image](https://user-images.githubusercontent.com/827606/57944422-ebf23700-78a4-11e9-9bec-678c95ccccbd.png)

That's b/c this part of `.fullmatch()` in some cases flips the roles of the two before passing down towar

[2019-05-18 21:38] #163 closed

[2019-05-20 22:45] benthestatistician commented on #85
Presently we have (in `fullmatch.matrix()`):

[code]
where x is the distance "matrix", `np` is the number of suproblems and (`nrow`, `ncol`) describe a current subproblem. This does seem a poor formula for problems with a small number of available controls: The supposition seems to be that the sum of row and column dimensions is a good stand-in for the total number of matches, either by subproblem

[2019-05-22 16:30] benthestatistician opened #166 "factor not character cols in MCFSolutions objects"
As of this writing ( [issue54-hinting fff2597] ), columns titled `groups`, `upstream`, `downstream`, `start` and `end` are to be character.  But it turns out we'd have greater compatibility with setup inside of `fmatch()`  if these were factors instead.  That's probably much better memory-wise as well.  (Cf.  "MCFSolutions" files in R/, tests/testthat/ and vignettes/, on issue54-hinting branch.)

[2019-05-22 17:08] markmfredrickson commented on #166
Here's some quick testing of factor behavior that shows for `data.frame`s at least, they work how we would expect. I can make up some similar for the MFCSolutions.

[code]

[2019-05-22 20:55] markmfredrickson commented on #166
I've made updates to use factors in 1284f656. One class I didn't touch was `SubProbInfo` as here groups seemed to be unique per character (so factors wouldn't matter). Anywhere I saw a "name" column, I also left it as character.

I've added some tests for the `c()` methods that check to make sure that if one object has factor levels "a" and "b"; and another has "b" and "c", then the result will ha

[2019-05-24 20:22] benthestatistician commented on #166
lgtm! a60bfcf updates the vignette to reflect.

[2019-05-24 21:19] benthestatistician commented on #166
Mark says:

(For now I'll leave the issue closed.)

[2019-05-24 23:34] benthestatistician opened #167 "When given hinting info, only redo subproblems that weren't already optimally solved"
This will require per-subproblem assessment of whether the subproblem solved in the hint and the current subproblem are the same in terms of

- match distances
- match restrictions

for the first of these we can compare distance hashes.  The second will call for building the bookkeeping arcs for the new problem, then checking to see whether it's the same set of arcs in the new problem, and whether

[2019-05-24 23:36] benthestatistician commented on #167
(I'm posting this b/c it's not compatible with a shortcut I'm taking at the moment, namely passing down  subproblem-specific node price information but not other MCF problem info.  So the issue serves as a reminder to cycle back and take care of this later.)

[2019-05-25 15:10] benthestatistician commented on #167
(In 4dbf103, I took a step or two in the direction of a different approach, namely to assess similarly of match restrictions at the subproblem level though comparison of bookkeeping arcs of new and old problem. But along the way I realized that it's likely to be expensive to inspect the hint info to decide if the problem that had been solved was similar in relevant respects; so I reverted that com

[2019-05-28 14:02] benthestatistician commented on #167
As of f9c44f4 / version 0.9.11.9001, the MCFSolutions returned by `fullmatch.matrix()` stores Lagrangian and dual functional values associated with each solved subproblem, i.e. what's needed to associate a regret with each subproblem.  A second stab at the problem with a lower tolerance value might decide whether to use the existing solution vs build a new one based on a comparison of that regret

[2019-05-28 15:01] benthestatistician commented on #165
Seeing the same test failure on a slightly older version of R + different platform, viz.

[code]

along w/  Rcpp version 1.0.1 .

[2019-05-28 15:44] benthestatistician commented on #161
As Mark noted on #166, joining of NodeInfo and ArcInfo tables (e.g. functions in R/complementarySlackness.R) along a factor would be aided by having the two factors have a common set of levels. Perhaps MCFSolutions objects could observe rules that:
1.  The `groups` column of `@subproblems` (a SubProbInfo object) serves as the level set for `@nodes$groups`, `@arcs@matches$groups`, and `@arcs@bookke

[2019-05-28 16:03] benthestatistician commented on #164
Implemented for a single subproblem in 0bdc6f0.  Still to do:

- [ ] Make `evaluate_*` functions work just as well with a (distance, MCFSolutions) pair combining multiple subproblems.
- [ ] Review/consider tests to add.  (Mark's test from d6b6c3c is v. helpful, but I'd be surprised if that alone covers it.)
- [ ] ¿Align levels of the factors we join on, rather than relying on dplyr::inner_join() t

[2019-05-28 16:07] benthestatistician commented on #160
This is so close to #164 (now that we're closer to it) that it doesn't make sense to keep both of them open.

[2019-05-28 16:07] #160 closed

[2019-05-30 03:14] benthestatistician opened #168 "match_on.formula() problem w/ a single treatment group member"
Example:
[code]
This problem seems not to arise for `match_on.numeric()`, nor for `match_on.formula()` in cases with multiple treatment group members.

[2019-05-31 14:18] benthestatistician commented on #134
I'm thinking the `tol=` parameter should be replaced by `grid.width`, a more direct description of the discretization.  With our new improved regret calc (#164), it's emerging that our "tolerance/exceedance" calculations be wildly crude bounds on the regret.  And not only in the situation discussed in #85: here is a result from pair matching in a problem with about 70% more treatments than control

[2019-06-02 05:05] benthestatistician commented on #166
I had some thoughts that I think will, among other benefits, make dplyr happier about these joins.  Perhaps not immediately, as it may be that a corresponding change is necessary to the "edgelist" concept/implementation in order to fully realize the benefit.  (Or, better yet, to the ISM spec, with the operations in complementarySlackness.R modified to work with ISMs, not reshaped copies of ISMs.)

[2019-06-04 02:16] benthestatistician opened #169 "rbind method for (BISM, BISM) should return a BISM"
At least, if the two BlockedInfinitySparseMatrix objects have blocks/subproblems of the same name.  Presently it seems to return a dense matrix instead.
Example:
[code]

[2019-06-04 02:50] benthestatistician commented on #169
In the example above, `rbind()` seems to invoke `rbind.BlockedInfinitySparseMatrix` but not `rbind.InfinitySparseMatrix`, despite the former being defined as
[code]
@markmfredrickson , this was your work, if not exactly yesterday (33df452).  Could you check out what I've done in 7d14583 and (a) see if you can spot shortcomings & (b) suggest tests?

[2019-06-04 19:27] benthestatistician opened #170 "Processing of {min/mean/max}.controls arguments"
`findSubproblems()` drops at least some empty or infeasible subproblems. When it's invoked in `fullmatch.matrix()`, in a situation where the user has provided a vector `min.controls` argument:

- [x] we need to trim the `min.controls` vector to match the length of the subproblem list. (And similarly for `mean.controls`, `max.controls`, `omit.fraction`.)

- [ ] We also need to ensure alignment of t

[2019-06-04 19:27] benthestatistician commented on #170
314eee7 addresses the first part and at least some of the second.  Remains to do testing.

[2019-06-05 18:01] josherrickson commented on #165
I can't replicate this.

[code]

This is all of version on CRAN, on master, and on issue54-hinting branch.

[2019-06-05 18:08] benthestatistician commented on #165
Odd.  Something unusual about my setup?  I see it on my desktop Mac,
 sessioninfo::session_info()
─ Session info
───────────────────────────────────────────────────────────────
 setting  value
 version  R version 3.6.0 (2019-04-26)
 os       macOS Mojave 10.14.5
 system   x86_64, darwin15.6.0
 ui       X11
 language (EN)
 collate  en_US.UTF-8
 ctype    en_US.UTF-8
 tz       America/Detroit
 date

[2019-06-05 19:02] josherrickson commented on #158
Updated the vignette using haven to write & read the Stata file. With the fix to #159, this is now very easy.

[2019-06-05 19:02] #158 closed

[2019-06-05 19:02] josherrickson commented on #159
This has been implemented (hoping not tempting fate by closing this issue before Travis finishes its final run and the branch gets merged in....)

[2019-06-05 19:02] #159 closed

[2019-06-06 13:05] josherrickson commented on #165
Do you have a package overwriting `dist`? Do toy examples work?

[code]

[2019-06-06 18:04] josherrickson opened #171 "`subproblemids` undefined"
Latest builds are showing an undefined variable:

[code]

E.g. https://github.com/markmfredrickson/optmatch/blame/master/R/fullmatch.R#L356

[2019-06-06 18:16] josherrickson commented on #171
@benthestatistician Assigning to you based on blame.

[2019-06-06 18:50] benthestatistician commented on #76
On the issue54-hinting branch we can now accept a previous run as a hint.

Whether/how much speed benefit this gives remains to be explored in detail, but I've observed no indication of it being the game-changer I had hoped for.   Perhaps relevant: we pass the dual solution (as "reduced costs") but not the matching primal solution (flow), as it would require a heavier touch to the Fortran to bring

[2019-06-07 02:47] #171 closed

[2019-06-07 16:34] benthestatistician commented on #165
No and yes:
[code]

[2019-06-08 18:34] benthestatistician opened #172 "`matchfailed()` tests, documentation"
I experienced an issue where `matchfailed()` returned NA for a small number of observations, breaking a script.  (Unfortunately I couldn't stop to investigate.) Hypothesis: this is how it records an exact matching category with no treatments or controls, such that it wouldn't make sense to try to make matches within it.

- [ ] Whether that's correct or not should be recorded in the Roxygen block d

[2019-06-08 18:43] benthestatistician commented on #167
This issue begs the question of what it means for a problem to be "solved". Ordinarily the regret bound will be positive, even if it's very small.

The sensible thing would be to compare that bound to some sort of tolerance, which the user could manipulate.  But we may want to move away from requesting tolerances of the user, instead asking for grid widths or something similar.   Perhaps `update.f

[2019-06-08 19:19] benthestatistician commented on #106
The parts of this that aren't done are out of date.

[2019-06-08 19:19] #106 closed

[2019-06-08 19:21] benthestatistician opened #173 "summary.optmatch() using MCFSolutions info"
Info to pull from the MCFSolutions material:

- sum (or mean) of matched distances
- bound on discretization regret

[2019-06-08 19:24] benthestatistician commented on #164
When this is ready it can go into the summary.optmatch routine (#173).

[2019-06-08 20:49] benthestatistician commented on #166
a552fb4 simplifies [the plan](https://github.com/markmfredrickson/optmatch/files/3268917/MCFSolutions.pdf) summarized in last comment:

- MatchablesInfo objects go away
- not to be replaced by anything (no `@nodelevels`/`@nodenames` slot)
- Instead, MCFSolutions validity checks enforce that each of `@nodes$name`, `@arcs@matches@upstream`, `@arcs@matches@downstream`, `@arcs@bookkeeping$start` and `

[2019-06-08 20:54] benthestatistician commented on #85
Notes about implementation of this change:

1.  As of now, tolerance related calculations are split in an awkward way between the body of `fullmatch.matrix` and `.fullmatch()`.  Better to allocate tolerances to subproblems all in one go, within the body of `fullmatch.matrix()`, then pass the answers as arguments of `.fullmatch()`/`.fullmatch.with.recovery()`.
2. `tol` may or may not survive as an

[2019-06-11 14:41] benthestatistician commented on #54
`update()` seems not to be working for pair matches:

[code]

[2019-06-11 15:04] josherrickson commented on #54
[code]

[2019-06-11 15:36] benthestatistician commented on #54
Huh?  Here's the setup behind what I saw:

[code]

[code]

[2019-06-11 18:04] benthestatistician commented on #54
Whatever the difference between my experience and Josh's, I was being routed through `update.default()`:

[code]

[2019-06-12 17:36] josherrickson commented on #165
I can confirm that I get the expected results on peirce.

[2019-06-12 18:26] josherrickson commented on #54
After just having an offline discussion with @benthestatistician where I was arguing that this was a symptom of his system being malconfigured in some sense, I am now seeing the same bug:

[code]

[2019-06-12 19:00] benthestatistician commented on #165
Josh made the suggestion that I try this after starting w/ `R --vanilla`. Findings:

1. On both peirce (Linux box running R 3.4.3) and blackwell2 (Mac running R 3.6.0), this test passes after invoking plain vanilla R.
2. On either machine the test does not pass after invoking R in the ordinary way, w/o `--vanilla`.
3. With or without the `--vanilla` option, `sessioninfo::session_info()` returns pr

[2019-06-12 19:07] benthestatistician commented on #54
(Checked to see whether invoking R w/ `--vanilla` option would affect this for me.  It doesn't.)

[2019-06-13 10:46] josherrickson commented on #54
It looks like the issue is having the `call` as an attribute instead of a slot. I think the next step is to figure out what changed to cause this to suddenly surface. It certainly wasn't a problem previously (as my comment 2 days ago shows).

I think we can rule out an R version bump as the current version (3.6.0 came out in April). I thought it could be a package update or something, but that doe

[2019-06-13 13:23] josherrickson commented on #165
The next step I think would be to look into your .Rprofile.

[2019-06-13 13:59] benthestatistician commented on #165
not much of interest in my .Rprofile, as it happens:

[code]
...and that's it.

[2019-06-13 14:34] benthestatistician commented on #54
Weird.  To clarify implications of your comments, are we to understand that
you've got an explanation of how you first didn't get the error and later
did, the difference being in the version of R you were using?

Nice pinpoint of the cause of the trouble, though; seems like it should
admit a simple enough fix.

[2019-06-13 15:04] josherrickson commented on #54
Exactly the opposite - I have no idea why it worked for me the first time but fails now. Nothing has changed regarding R version or packages between the two, yet it still fails.

The fix is quite simple, in `makeOptmatch`, store the call directly rather than as an attribute - I'm hesitant to just do that because I don't know why this suddenly is coming up now, given that the code in `update` was l

[2019-06-13 18:03] josherrickson commented on #165
Do you save your environment and reload it when starting R? Perhaps move to a directory where you've never launched R from and start it, see if the problem persists.

It looks like --vanilla sets 4 things: --no-site-file, --no-init-file, --no-environ and --no-restore. Try each of those and see which one(s) fix it to narrow down the issue.

[2019-06-13 20:00] benthestatistician commented on #54
Let's not rush into anything on this. I think it's likely that with the 1.0
release (cf #134) we'll want to push a new spec for the structure of what
full/pair match spit out, perhaps an S4 object; see notes in MCFSolutions
vignette, issue54-hinting branch.  Once we get to that, let's remind each
other to pay attn to the update problem we've been discussing over here.

[2019-06-13 20:03] benthestatistician commented on #59
From the #54 comment, here's a test we should have (currently fails/works inconsistently):

[code]

(And similarly for `fullmatch()`.)

[2019-06-13 20:49] benthestatistician commented on #165
The problem comes from my init file, specifically from the part of my
`.First()` def setting the global "`digits`" option to "`3L`":

[code]

Surprisingly (to me), the digits option affects the calculations of
**either** of `stats::dist()` and `optmatch::match_on()`:

[code]
(When I put that line in my .Rprofile, I figured printing was the only
thing that would be affected.)

No appetite for pinni

[2019-06-13 21:09] #165 closed

[2019-06-17 17:00] benthestatistician commented on #65
Earlier on this thread Mark suggested (roughly) that we implement this by a `diag()` method.  I argued against on the grounds that `base::diag()` has complicated semantics.  Chiming in briefly to note that the Matrix package's `bdiag()` may be a model for what we'd like to do here.

[2019-06-17 17:13] benthestatistician commented on #54
Chiming in again briefly to note a possible connection between (a) my earlier observation that `update.optmatch()` was not being invoked when I experienced this issue, and (b)  Josh's initial report that he couldn't reproduce the problem.

We had bug report some time ago that turned out to turn on a method dispatch subtlety (#120).  The combination of (a) and (b) suggests to me that this is broadl

[2019-06-18 00:42] josherrickson commented on #54
That insight helped me figure it out. `update.optmatch` isn't currently being exported. Calling `update.optmatch(pm1b)` works fine.

The reason it wasn't an issue previously, and wasn't an issue for me a few days ago, was that when calling `devtools::load_all()`, internal functions are loaded as well. Calling `library(optmatch)` doesn't load internal functions.

I'm going to export `update.optmatc

[2019-06-18 10:53] josherrickson commented on #168
This is occurring because of this line inside `compute_mahalanobis` evaluating to NA due to `sum(z) = 1`.

https://github.com/markmfredrickson/optmatch/blob/4c998e30605bddee1b5604f9298be140e44579e1/R/match_on.R#L449

[2019-06-18 14:41] josherrickson commented on #134
Any objections to expediting this to the maintenance release I'm currently working on? @benthestatistician  I've been having crashes in the fallback solver ("Fortran runtime error: Insufficient number of elements in TARRAY.") for a while now that require me to remove tests related to it when running on my local machines. A colleague of mine who is familiar with Fortran suggests it's due to some of

[2019-06-18 16:23] benthestatistician commented on #168
1.  In the event that `sum(z)==1`, we could just do `mt <- 0`.  Similarly if `sum(!z)==1`, do `mc <- 0`.
2. (I suppose it's the `cov(data[z, ,drop=FALSE])` that's evaluating to `NA`, with `sum(z)-1` evaluating to 0.)
3. This is one of those little issues that leads back to a bigger issue.  Mahalanobis distance has to calculate a covariance using whatever data has been provided.  In the use case br

[2019-06-18 16:28] benthestatistician commented on #134
I'd prefer to postpone doing away w/ fallback until the next major
release.

How about (a) moving offending tests into `test.notforCRAN.R`, or (b)
moving into a new file noted in .Rbuildignore that's also excluded from CI
checks; or (c) just getting rid of them?